---
export const prerender = true;
import BaseLayout from "@/layout/BaseLayout.astro"
import NavBar from "@/components/navigation/index.astro";
import BannerTitleSeparator from "@/components/graphics/banner-title-separator.astro"; 
import SmallTitleSeparator from "@/components/graphics/small-separator-gold.astro"
import ConsultationSection from "@/components/call-to-action/version1.astro"; 
---
<BaseLayout 
pageTitle="Practice Areas" 
customDescription="Lawyer site"
>
    <div class="banner-title-area">
        <div class="banner-title-overlay"></div>
        <NavBar />
        <div class="container w-container">
        <div class="banner-title-wrap">
            <h1 class="banner-area-title">Practice Areas</h1>
            <BannerTitleSeparator customStyle = "mx-auto" />
        </div>
        </div>
    </div>
    <div class="practice-areas-section">
        <div class="container w-container">
        <div class="w-layout-grid practice-areas-title-grid">
            <div class="section-title-left">
                <h2 class="section-left-title-text">Explore The perfect<br/>Our Practice Areas</h2>
                <SmallTitleSeparator />
            </div>
            <div id="w-node-_9c207ce9-3cbb-82e2-f8ae-c023054bef56-9a1b9e23" class="practice-title-content">
                <p class="section-left-content">We are a group of civil litigation/trial attorneys who focus on providing a justice based on the issues relating to insurance defense, insurance coverage, bad faith, insurance fraud and criminal litigation.</p>
            </div>
        </div>
        <div class="practice-area-wrap">
            <div class="w-dyn-list">
                <div role="list" class="w-dyn-items w-row">
                    <div role="listitem" class="practice-area-collection w-dyn-item w-col w-col-4">
                    <div class="practice-area-item">
                        <div class="practice-listing-content-wrap">
                            <a href="/practice-area/business-law" class="practice-area-title">Business Law</a>
                            <p>Be aware of new developments, as laws and rules often change based on the situation.</p>
                        </div>
                        <div class="practice-readmore-wrap">
                            <div class="practice-icon-wrap"><img alt="Practice Area Icon" loading="lazy" src="https://assets-global.website-files.com/663690b06ff2152d9a1b9e32/663690b06ff2152d9a1b9ecf_practice-area-icon-1.svg"/></div>
                            <div class="practice-link-wrap"><a href="/practice-areas/business-law" class="practice-button w-button">View More</a></div>
                        </div>
                    </div>
                    </div>
                    <div role="listitem" class="practice-area-collection w-dyn-item w-col w-col-4">
                    <div class="practice-area-item">
                        <div class="practice-listing-content-wrap">
                            <a href="/practice-area/construction-law" class="practice-area-title">Construction Law</a>
                            <p>Never judge, just listen and advise. Even if your client has made a bad decision in the case.</p>
                        </div>
                        <div class="practice-readmore-wrap">
                            <div class="practice-icon-wrap"><img alt="Practice Area Icon" loading="lazy" src="https://assets-global.website-files.com/663690b06ff2152d9a1b9e32/663690b06ff2152d9a1b9ed0_practice-area-icon-2.svg"/></div>
                            <div class="practice-link-wrap"><a href="/practice-area/construction-law" class="practice-button w-button">View More</a></div>
                        </div>
                    </div>
                    </div>
                    <div role="listitem" class="practice-area-collection w-dyn-item w-col w-col-4">
                    <div class="practice-area-item">
                        <div class="practice-listing-content-wrap">
                            <a href="/practice-area/car-accident" class="practice-area-title">Car Accident</a>
                            <p>Being untruthful will get you nowhere and give you a reputation of the dishonesty in law.</p>
                        </div>
                        <div class="practice-readmore-wrap">
                            <div class="practice-icon-wrap"><img alt="Practice Area Icon" loading="lazy" src="https://assets-global.website-files.com/663690b06ff2152d9a1b9e32/663690b06ff2152d9a1b9ed1_practice-area-icon-3.svg"/></div>
                            <div class="practice-link-wrap"><a href="/practice-area/car-accident" class="practice-button w-button">View More</a></div>
                        </div>
                    </div>
                    </div>
                    <div role="listitem" class="practice-area-collection w-dyn-item w-col w-col-4">
                    <div class="practice-area-item">
                        <div class="practice-listing-content-wrap">
                            <a href="/practice-area/wrongful-death" class="practice-area-title">Wrongful Death</a>
                            <p>Keep yourself up-to-date on your area of law. Be aware of new justice, as laws and rules.</p>
                        </div>
                        <div class="practice-readmore-wrap">
                            <div class="practice-icon-wrap"><img alt="Practice Area Icon" loading="lazy" src="https://assets-global.website-files.com/663690b06ff2152d9a1b9e32/663690b06ff2152d9a1b9ed2_practice-area-icon-4.svg"/></div>
                            <div class="practice-link-wrap"><a href="/practice-area/wrongful-death" class="practice-button w-button">View More</a></div>
                        </div>
                    </div>
                    </div>
                    <div role="listitem" class="practice-area-collection w-dyn-item w-col w-col-4">
                    <div class="practice-area-item">
                        <div class="practice-listing-content-wrap">
                            <a href="/practice-area/criminal-law" class="practice-area-title">Criminal Law</a>
                            <p>Our attorneys are fully committed to providing you with the support and attention that you deserve.</p>
                        </div>
                        <div class="practice-readmore-wrap">
                            <div class="practice-icon-wrap"><img alt="Practice Area Icon" loading="lazy" src="https://assets-global.website-files.com/663690b06ff2152d9a1b9e32/663690b06ff2152d9a1b9ed3_practice-area-icon-5.svg"/></div>
                            <div class="practice-link-wrap"><a href="/practice-area/criminal-law" class="practice-button w-button">View More</a></div>
                        </div>
                    </div>
                    </div>
                    <div role="listitem" class="practice-area-collection w-dyn-item w-col w-col-4">
                    <div class="practice-area-item">
                        <div class="practice-listing-content-wrap">
                            <a href="/practice-area/family-law" class="practice-area-title">Family Law</a>
                            <p>You may find yourself unable to work or complete work-related responsibilities safely.</p>
                        </div>
                        <div class="practice-readmore-wrap">
                            <div class="practice-icon-wrap"><img alt="Practice Area Icon" loading="lazy" src="https://assets-global.website-files.com/663690b06ff2152d9a1b9e32/663690b06ff2152d9a1b9ed4_practice-area-icon-6.svg"/></div>
                            <div class="practice-link-wrap"><a href="/practice-area/family-law" class="practice-button w-button">View More</a></div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <ConsultationSection/>
    <div class="client-section large-space-section">
        <div class="container w-container">
        <div class="section-center-title">
            <div class="center-title-wrap">
                <img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e50_center-separator.svg" loading="lazy" alt="Title Large Separator"/>
                <h2 class="section-center-title-text dark-color-title">Meet the Partners</h2>
                <img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e50_center-separator.svg" loading="lazy" alt="Title Large Separator"/>
            </div>
        </div>
        <div class="w-layout-grid client-image-grid">
            <div id="w-node-a796f921-3af6-5e8d-03ab-534923629651-9a1b9e23" class="client-image-item"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e5a_client-logo-1.svg" loading="lazy" alt="Client Logo"/></div>
            <div id="w-node-a796f921-3af6-5e8d-03ab-534923629653-9a1b9e23" class="client-image-item"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e5b_client-logo-2.svg" loading="lazy" alt="Client Logo"/></div>
            <div id="w-node-a796f921-3af6-5e8d-03ab-534923629655-9a1b9e23" class="client-image-item"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e5c_client-logo-3.svg" loading="lazy" alt="Client Logo"/></div>
            <div id="w-node-a796f921-3af6-5e8d-03ab-534923629657-9a1b9e23" class="client-image-item"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e59_client-logo-4.svg" loading="lazy" alt="Client Logo"/></div>
            <div id="w-node-a796f921-3af6-5e8d-03ab-534923629659-9a1b9e23" class="client-image-item"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e58_client-logo-5.svg" loading="lazy" alt="Client Logo"/></div>
        </div>
        </div>
    </div>
</BaseLayout>