@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

b,
strong {
  font-weight: bold;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"] {
  -webkit-appearance: button;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: #333;
  background-color: #fff;
  min-height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

button,
[type="button"],
[type="reset"] {
  cursor: pointer;
  -webkit-appearance: button;
  border: 0;
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.w-container:before,
.w-container:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-container:after {
  clear: both;
}

.w-col {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.w-col-4 {
  width: 33.3333%;
}

.w-dropdown {
  text-align: left;
  z-index: 900;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: relative;
}

.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  vertical-align: top;
  color: #222;
  text-align: left;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  position: relative;
}

.w-dropdown-toggle {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding-right: 40px;
  display: inline-block;
}

.w-dropdown-list {
  background: #ddd;
  min-width: 100%;
  display: none;
  position: absolute;
}

.w-nav {
  z-index: 1000;
  background: #ddd;
  position: relative;
}

.w-nav:before,
.w-nav:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-nav:after {
  clear: both;
}

.w-nav-link {
  vertical-align: top;
  color: #222;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.w-nav-link.w--current {
  color: #0082f3;
}

.w-nav-menu {
  float: right;
  position: relative;
}

:root {
  --secondary-color: #1f2732;
  --paragraph-color: #d7d7d7;
  --white: white;
  --primary-color: #d1b06b;
  --dark-black: #161d27;
  --grey-color: #2e3947;
  --black-background: #3b434e;
  --bright-paragraph-color: #909090;
  --light-border-color: #4e555f;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  background-color: var(--secondary-color);
  color: var(--paragraph-color);
  letter-spacing: 0.02em;
  font-family: Outfit, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  color: var(--white);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Cormorant Garamond, sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.3;
}

h2 {
  color: var(--white);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Cormorant Garamond, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  color: var(--white);
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Cormorant Garamond, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3;
}

p {
  margin-bottom: 10px;
}

a {
  /* color: var(--primary-color); */
  font-size: 22px;
  text-decoration: none;
  transition: color 0.2s;
}

.container {
  max-width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.header-navbar-wrap {
  border-top: 1px solid #4e555f;
  border-bottom: 1px solid #4e555f;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-top: 25px;
  padding-bottom: 28px;
  display: flex;
}

.header-logo-wrap {
  justify-content: space-between;
  padding-bottom: 20px;
  display: flex;
}

.header {
  padding-top: 40px;
  padding-bottom: 20px;
  position: relative;
}

.button {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 24px 70px;
  font-family: Outfit, sans-serif;
  font-size: 22px;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
}

.button.header-button {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  margin-top: 0;
  margin-right: 0;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}

.nav-link {
  color: var(--white);
  padding-left: 20px;
  padding-right: 18px;
  font-family: Outfit, sans-serif;
  font-size: 20px;
  font-weight: 400;
  transition: color 0.2s;
}

.nav-link.w--current {
  color: var(--primary-color);
  transition: color 0.2s;
}

.nav-link.dropdown-navigation {
  padding-left: 23px;
  padding-right: 3px;
}

.dropdown-toggle {
  color: var(--white);
  margin-right: 0;
  padding-left: 2px;
  padding-right: 45px;
  transition: color 0.2s;
}

.dropdown-list {
  background-color: var(--white);
}

.header-contact-item {
  align-items: center;
  margin-bottom: 15px;
  padding-left: 10px;
  display: flex;
}

.header-contact-icon-wrap {
  width: 17px;
}

.header-link-wrap {
  border: 2px solid var(--primary-color);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  display: none;
}

.header-contact-link-wrap {
  padding-left: 12px;
}

.header-contact-title {
  color: var(--primary-color);
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
}

.header-contact-link {
  color: var(--white);
  font-size: 22px;
  line-height: 1.2;
  text-decoration: none;
  transition: color 0.2s;
}

.header-contact-item-wrap {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer {
  padding-top: 100px;
  padding-bottom: 40px;
}

.footer-top-logo {
  padding-bottom: 15px;
}

.footer-top-logo-wrap {
  justify-content: center;
  display: flex;
}

.footer-widget-wrap {
  margin-top: 60px;
  padding-bottom: 20px;
}

.footer-grid {
  grid-column-gap: 60px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

.footer-widget {
  margin-bottom: 30px;
}

.footer-widget-title-wrap {
  border-top: 1px solid var(--black-background);
  border-bottom: 1px solid var(--black-background);
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-widget-title {
  margin-top: 10px;
  font-size: 30px;
}

.footer-links-wrap {
  justify-content: space-between;
  display: flex;
}

.footer-link {
  color: var(--paragraph-color);
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Outfit, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.2s;
  display: block;
}

.footer-contact-wrap {
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0;
  display: block;
}

.footer-contact-link-wrap {
  padding-top: 50px;
}

.footer-contact-link-item {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer-link-type {
  margin-bottom: 0;
  padding-right: 10px;
}

.footer-address {
  line-height: 2.4;
}

.copyright {
  border-top: 1px solid var(--black-background);
  border-bottom: 1px solid var(--black-background);
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 16px;
  padding-bottom: 27px;
}

.copyright-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.copyright-social-title {
  color: var(--primary-color);
  margin-bottom: 0;
  padding-top: 8px;
}

.copyright-social-wrap {
  padding-left: 10px;
}

.copyright-social-area {
  align-items: center;
  display: flex;
}

.social-icon-link {
  padding-left: 10px;
  padding-right: 10px;
}

.copyright-content {
  margin-bottom: 0;
  padding-top: 8px;
  font-size: 20px;
}

.hero-section {
  background-color: var(--secondary-color);
  background-image: url("/assets/images/hero-background-desk.webp");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-main-wrap {
  position: relative;
}

.hero-overlay {
  background-color: rgba(31, 39, 50, 0.81);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.hero-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}

.hero-content-area {
  padding-top: 60px;
  padding-bottom: 90px;
}

.hero-area-content {
  color: var(--primary-color);
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 1.8;
}

.hero-area-title {
  margin-top: 15px;
  font-size: 50px;
  line-height: 1.2;
}

.history-image-wrap {
  display: none;
}

.simple-intro-section {
  padding-top: 120px;
  padding-bottom: 90px;
}

.simple-intro-image,
.section-title-left {
  margin-bottom: 30px;
}

.section-left-title-text {
  text-transform: capitalize;
  margin-bottom: 12px;
  font-size: 42px;
  line-height: 1.3;
}

.section-left-content {
  padding-top: 40px;
}

.intro-lawyer-wrap {
  background-color: var(--dark-black);
  border-radius: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  display: flex;
}

.intro-lawyer-area {
  justify-content: flex-start;
  align-items: center;
  margin-top: 35px;
  display: flex;
}

.lawyer-radius-image {
  background-color: var(--dark-black);
  border-radius: 100%;
  align-self: center;
}

.intro-author-name {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 40px;
}

.help-section {
  background-color: var(--white);
  padding-top: 90px;
  padding-bottom: 0;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.section-title-text {
  text-align: center;
  font-size: 45px;
}

.section-title-text.dark-color-title {
  color: var(--dark-black);
  text-transform: capitalize;
  font-size: 42px;
}

.consultation-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.consultation-grid {
  grid-column-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.divider-line {
  background-color: var(--light-border-color);
  color: var(--paragraph-color);
  width: 100%;
  height: 1px;
}

.featured-blog-section {
  padding-top: 80px;
  padding-bottom: 60px;
}

.featured-blog-wrap.home-featured-blog {
  padding-top: 40px;
}

.blog-section {
  padding-top: 80px;
  padding-bottom: 40px;
}

.blog-item {
  text-align: left;
  margin-bottom: 60px;
}

.blog-meta-wrap {
  border-bottom: 1px solid var(--light-border-color);
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 25px;
  margin-bottom: 15px;
  padding-bottom: 22px;
  display: flex;
}

.meta-separator {
  padding-left: 20px;
  padding-right: 20px;
  display: none;
}

.published-date {
  color: var(--primary-color);
  margin-bottom: 0;
  display: block;
}

.blog-content-area {
  padding-top: 10px;
}

.blog-title-link {
  color: var(--white);
  font-family: Cormorant Garamond, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
}

.viewmore-link {
  border-bottom: 1px solid var(--primary-color);
  text-transform: capitalize;
  transition: border-color 0.2s, color 0.2s;
}

.blog-excerpt {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.featured-blog-grid {
  grid-column-gap: 50px;
  grid-template-rows: auto;
  align-items: center;
}

.featured-blog-title {
  color: var(--white);
  font-family: Cormorant Garamond, sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.3;
}

.practice-areas-section {
  background-color: var(--dark-black);
  padding-top: 100px;
  padding-bottom: 80px;
}

.practice-areas-title-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  align-items: start;
}

.practice-area-wrap {
  margin-top: 30px;
}

.practice-area-item {
  background-color: var(--secondary-color);
  min-height: 420px;
  margin-bottom: 30px;
  padding: 35px 20px 30px;
}

.practice-area-title {
  color: var(--white);
  padding-bottom: 5px;
  font-family: Cormorant Garamond, sans-serif;
  font-size: 28px;
  font-weight: 700;
  display: inline-block;
}

.practice-listing-content-wrap {
  border-bottom: 1px solid var(--light-border-color);
  margin-bottom: 38px;
  padding-bottom: 20px;
}

.practice-button {
  background-color: var(--dark-black);
  text-transform: capitalize;
  margin-top: 20px;
  padding: 13px 30px;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
}

.practice-area-collection {
  padding-left: 15px;
  padding-right: 15px;
}

.background-image {
  width: 100%;
}

#w-node-_51ff0ba3-4e2d-3300-5219-e31f454d2f30-9a1b9e10 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_25a59e16-114d-9856-7e7b-a3c4dc31e84b-9a1b9e10,
#w-node-_25a59e16-114d-9856-7e7b-a3c4dc31e84e-9a1b9e10 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b65b1a3d-ddb9-afd1-e2c9-f7bc0a364088-0a36402f,
#w-node-b65b1a3d-ddb9-afd1-e2c9-f7bc0a364090-0a36402f {
  justify-self: center;
}

@media screen and (min-width: 1280px) {
  .history-image-wrap {
    display: block;
  }

  #w-node-b65b1a3d-ddb9-afd1-e2c9-f7bc0a364088-0a36402f {
    justify-self: start;
  }

  #w-node-b65b1a3d-ddb9-afd1-e2c9-f7bc0a364090-0a36402f {
    justify-self: end;
  }
  .container {
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .header-navbar-wrap {
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 28px;
    display: flex;
  }
  .nav-link {
    padding-left: 23px;
    padding-right: 23px;
    font-size: 22px;
  }
  .dropdown-toggle {
    padding-left: 2px;
    padding-right: 45px;
  }

  .header-contact-item {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    padding-left: 50px;
    display: flex;
  }
  .header-link-wrap {
    display: flex;
  }

  .header-contact-title {
    font-size: 18px;
  }

  .header-contact-link {
    font-size: 22px;
  }

  .header-contact-item-wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  .footer-top-logo {
    padding-bottom: 15px;
  }

  .footer-top-logo-wrap {
    justify-content: center;
  }

  .footer-widget-wrap {
    margin-top: 80px;
    padding-bottom: 35px;
  }

  .footer-grid {
    grid-column-gap: 50px;
    grid-template-columns: 1.75fr 1fr 2fr;
  }

  .footer-widget {
    margin-bottom: 0;
  }

  .footer-widget-title {
    font-size: 28px;
  }

  .footer-link.w--current {
    font-size: 20px;
  }

  .copyright {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 16px;
    padding-bottom: 27px;
  }

  .copyright-grid {
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: stretch;
  }

  .copyright-content {
    font-size: 20px;
  }

  .hero-grid {
    grid-template-columns: 1fr 1fr;
  }

  .hero-content-area {
    padding-top: 40px;
  }

  .hero-area-content {
    font-size: 22px;
  }

  .hero-area-title {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 65px;
  }

  .section-left-title-text {
    font-size: 45px;
  }

  .section-left-content {
    font-size: 20px;
  }
  .help-section {
    padding-top: 115px;
    padding-bottom: 0;
  }

  .section-title-text.dark-color-title {
    font-size: 45px;
  }

  .consultation-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .consultation-grid {
    grid-column-gap: 100px;
  }

  .featured-blog-section {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .blog-section {
    padding-top: 80px;
  }

  .blog-item {
    margin-bottom: 60px;
  }

  .blog-meta-wrap {
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 15px;
    padding-bottom: 22px;
  }

  .meta-separator {
    display: none;
  }

  .blog-title-link {
    font-size: 30px;
  }

  .blog-excerpt {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .featured-blog-grid {
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr;
  }

  .featured-blog-title {
    font-size: 45px;
  }

  .practice-areas-section {
    padding-top: 120px;
    padding-bottom: 110px;
  }

  .practice-areas-title-grid {
    grid-template-columns: 1fr 1fr;
  }

  .practice-area-item {
    min-height: auto;
    padding: 55px 50px 70px;
  }

  .practice-area-title {
    font-size: 35px;
  }

  .practice-button {
    padding-left: 42px;
    padding-right: 42px;
    font-size: 20px;
  }
}

/* new*/

@media screen and (min-width: 1280px) {
  .container {
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .header-navbar-wrap {
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 28px;
    display: flex;
  }

  .button-section {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .style-guide-grid {
    grid-column-gap: 30px;
    grid-template-columns: 0.4fr 1fr;
  }

  .button-large.pricing-button {
    padding-left: 80px;
    padding-right: 80px;
  }

  .button-white {
    padding-left: 50px;
    padding-right: 50px;
  }

  .nav-link {
    padding-left: 23px;
    padding-right: 23px;
    font-size: 22px;
  }

  .nav-link.first-child {
    padding-left: 0;
    padding-right: 23px;
  }

  .dropdown-toggle {
    padding-left: 2px;
    padding-right: 45px;
  }

  .header-contact-item {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    padding-left: 50px;
    display: flex;
  }

  .header-contact-item.contact-info-item {
    margin-bottom: 20px;
  }

  .header-link-wrap {
    display: flex;
  }

  .header-contact-title {
    font-size: 18px;
  }

  .header-contact-link {
    font-size: 22px;
  }

  .header-contact-item-wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .typography-section {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .color-section {
    padding-top: 120px;
    padding-bottom: 40px;
  }

  .paragraph-section {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .list-section {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .blockquote-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  .footer-top-logo {
    padding-bottom: 15px;
  }

  .footer-top-logo-wrap {
    justify-content: center;
  }

  .footer-widget-wrap {
    margin-top: 80px;
    padding-bottom: 35px;
  }

  .footer-grid {
    grid-column-gap: 50px;
    grid-template-columns: 1.75fr 1fr 2fr;
  }

  .footer-widget {
    margin-bottom: 0;
  }

  .footer-widget-title {
    font-size: 28px;
  }

  .footer-link.w--current {
    font-size: 20px;
  }

  .copyright {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 16px;
    padding-bottom: 27px;
  }

  .copyright-grid {
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: stretch;
  }

  .copyright-content {
    font-size: 20px;
  }

  .hero-grid {
    grid-template-columns: 1fr 1fr;
  }

  .hero-content-area {
    padding-top: 40px;
  }

  .hero-area-content {
    font-size: 22px;
  }

  .hero-area-title {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 65px;
  }

  .simple-intro-grid {
    grid-column-gap: 30px;
    grid-template-columns: 0.6fr 1fr;
  }

  .section-left-title-text {
    font-size: 45px;
  }

  .section-left-content {
    font-size: 20px;
  }

  .section-left-content.dark-color-content {
    padding-top: 40px;
  }

  .intro-status-wrap {
    margin-top: 30px;
  }

  .help-section {
    padding-top: 115px;
    padding-bottom: 0;
  }

  .section-title-text.dark-color-title {
    font-size: 45px;
  }

  .help-content-grid {
    grid-template-columns: 1fr 1fr;
  }

  .client-section {
    padding-top: 80px;
    padding-bottom: 130px;
  }

  .client-section.large-space-section {
    padding-top: 120px;
  }

  .section-center-title-text.dark-color-title {
    font-size: 50px;
  }

  .client-image-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 50px;
  }

  .client-image-item {
    margin-bottom: 0;
  }

  .history-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .history-content-wrap {
    padding: 80px 60px 70px;
  }

  .history-grid {
    grid-template-columns: 1.1fr 0.8fr;
    align-items: center;
    justify-items: center;
    display: grid;
  }

  .history-image-wrap {
    display: block;
  }

  .history-progress-wrap {
    margin-left: 35px;
  }

  .client-reviews-section {
    padding-top: 115px;
    padding-bottom: 140px;
  }

  .client-review-grid {
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .client-review-item {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .review-content-wrap {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
  }

  .review-content-wrap.toggle-review-content-wrap {
    padding: 70px 45px 60px;
  }

  .reviewer-name {
    font-size: 26px;
  }

  .team-section {
    padding-top: 115px;
    padding-bottom: 120px;
  }

  .team-social-wrap {
    width: 50%;
  }

  .consultation-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .consultation-grid {
    grid-column-gap: 100px;
  }

  .consultation-detail-area {
    padding: 40px;
  }

  .consultation-content-area {
    padding: 30px 40px 60px;
  }

  .consultation-heading {
    font-size: 42px;
    line-height: 1.3;
  }

  .consultation-phone-number {
    font-size: 30px;
  }

  .appointment-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .appointment-form-wrap {
    padding: 100px 100px 80px;
  }

  .banner-title-area {
    padding-bottom: 110px;
  }

  .banner-title-wrap {
    padding-top: 60px;
  }

  .about-intro-section {
    padding-top: 120px;
    padding-bottom: 110px;
  }

  .about-intro-grid {
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  .about-intro-content-wrap {
    padding-left: 40px;
  }

  .about-intro-image {
    position: relative;
    top: 45px;
    left: 7%;
  }

  .our-story-section {
    padding-top: 50px;
    padding-bottom: 140px;
  }

  .our-story-grid {
    padding-top: 80px;
  }

  .specialized-grid {
    grid-column-gap: 1px;
    grid-template-columns: 1fr 1fr;
  }

  .specialized-content-wrap {
    padding-left: 80px;
    padding-right: 80px;
  }

  .our-values-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .our-values-grid {
    grid-column-gap: 60px;
    grid-template-columns: 0.8fr 1fr;
  }

  .our-values-item {
    padding: 70px 60px 60px;
  }

  .banner-area-title {
    font-size: 65px;
  }

  .testimonial-section {
    padding-top: 140px;
    padding-bottom: 20px;
  }

  .testimonial-grid {
    grid-template-columns: 1fr 1fr;
  }

  .testimonial-item {
    padding: 60px 60px 50px;
  }

  .testimonial-top-wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .fee-section {
    padding-top: 120px;
    padding-bottom: 100px;
  }

  .faq-section {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  .faq-grid {
    grid-column-gap: 70px;
    grid-template-columns: 1fr 1fr;
  }

  .faq-item {
    margin-right: 40px;
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .faq-title {
    font-size: 45px;
  }

  .free-consultation-section {
    padding-bottom: 100px;
  }

  .changelog-section {
    padding-top: 140px;
    padding-bottom: 150px;
  }

  .changelog-wrap {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-form-section {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .contact-info-grid {
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .info-intro-item {
    border-right-style: none;
  }

  .contact-form-item {
    padding: 60px 80px;
  }

  .contact-links-grid {
    grid-template-columns: 1fr;
  }

  .contact-link-infos {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .licenses-section {
    padding-top: 130px;
    padding-bottom: 60px;
  }

  .licenses-item-wrap {
    margin-bottom: 80px;
  }

  .licenses-grid {
    grid-column-gap: 50px;
    grid-template-columns: 0.5fr 1fr;
  }

  .error-number {
    font-size: 350px;
  }

  .error-page-wrap {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .password-wrap {
    padding-top: 120px;
  }

  .password-section {
    padding-bottom: 130px;
  }

  .password-grid {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: stretch;
  }

  .password-form-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 100px;
  }

  .password-heading {
    font-size: 65px;
  }

  .featured-blog-section {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .blog-section {
    padding-top: 80px;
  }

  .blog-item {
    margin-bottom: 60px;
  }

  .blog-meta-wrap {
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 15px;
    padding-bottom: 22px;
  }

  .meta-separator {
    display: none;
  }

  .blog-title-link {
    font-size: 30px;
  }

  .blog-excerpt {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .featured-blog-grid {
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr;
  }

  .featured-blog-title {
    font-size: 45px;
  }

  .blog-single-section {
    padding-top: 35px;
    padding-bottom: 60px;
  }

  .lawyer-section {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .law-type-section {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .practice-areas-section {
    padding-top: 120px;
    padding-bottom: 110px;
  }

  .practice-areas-title-grid {
    grid-template-columns: 1fr 1fr;
  }

  .practice-area-item {
    min-height: auto;
    padding: 55px 50px 70px;
  }

  .practice-area-title {
    font-size: 35px;
  }

  .practice-icon-wrap {
    width: 53px;
  }

  .practice-readmore-wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .practice-button {
    padding-left: 42px;
    padding-right: 42px;
    font-size: 20px;
  }

  .practice-area-banner {
    padding-bottom: 100px;
  }

  .practice-area-single-section {
    padding-top: 140px;
    padding-bottom: 120px;
  }

  .practice-single-content {
    margin-top: 60px;
  }

  .cases-section {
    padding-top: 140px;
    padding-bottom: 110px;
  }

  .reward-amount-wrap {
    padding: 20px 60px;
    font-size: 20px;
    line-height: 1.6;
  }

  .cases-content-area {
    padding: 45px 60px 50px 55px;
  }

  .cases-banner-title-area {
    padding-bottom: 100px;
  }

  .cases-single-section {
    padding-top: 140px;
    padding-bottom: 120px;
  }

  .cases-single-grid {
    grid-column-gap: 45px;
    grid-template-columns: 2fr 1.2fr;
  }

  .case-reward-content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .reward-amount-title {
    font-size: 40px;
  }

  .cases-experience-section {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .recover-section {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .pricing-section {
    padding-bottom: 90px;
  }

  .pricing-content-wrap {
    margin-top: 20px;
  }

  .pricing-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-separator-right,
  .footer-separator-left {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-navbar-wrap {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .header-logo-wrap {
    justify-content: space-between;
    align-items: stretch;
    display: flex;
  }

  .header {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .button-large.pricing-button {
    padding-left: 110px;
    padding-right: 110px;
  }

  .header-contact-item.contact-info-item {
    margin-bottom: 0;
    padding-left: 20px;
  }

  .footer {
    padding-top: 130px;
  }

  .footer-top-logo-wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
  }

  .footer-grid {
    grid-column-gap: 100px;
    grid-template-columns: 1.75fr 1fr 2fr;
  }

  .footer-widget-title {
    font-size: 30px;
  }

  .hero-grid {
    align-items: center;
    justify-items: stretch;
    display: grid;
  }

  .simple-intro-section {
    padding-top: 140px;
    padding-bottom: 110px;
  }

  .intro-status-wrap {
    margin-top: 45px;
  }

  .help-section {
    padding-top: 115px;
    padding-bottom: 1px;
  }

  .help-content-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .client-section {
    padding-top: 80px;
    padding-bottom: 130px;
  }

  .history-section {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .history-content-wrap {
    padding: 80px 60px 70px;
  }

  .history-grid {
    grid-column-gap: 50px;
    grid-template-columns: 1.1fr 0.8fr 1.1fr;
  }

  .review-content-wrap {
    padding: 45px 45px 60px;
  }

  .review-content {
    font-size: 20px;
  }

  .reviewer-name {
    font-size: 30px;
  }

  .consultation-section,
  .appointment-section {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .banner-title-area {
    padding-bottom: 140px;
  }

  .banner-title-wrap {
    padding-top: 90px;
  }

  .about-intro-section {
    padding-top: 140px;
    padding-bottom: 130px;
  }

  .about-intro-grid {
    grid-column-gap: 40px;
    grid-template-columns: 1.25fr 1fr;
  }

  .our-values-section {
    padding-top: 100px;
    padding-bottom: 110px;
  }

  .banner-area-title {
    font-size: 65px;
  }

  .fee-section {
    padding-top: 140px;
    padding-bottom: 120px;
  }

  .faq-section {
    padding-top: 110px;
    padding-bottom: 130px;
  }

  .free-consultation-section {
    padding-bottom: 130px;
  }

  .contact-form-section {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .contact-info-grid {
    grid-template-columns: 1.4fr 1fr 1fr;
  }

  .info-intro-item {
    border-right-style: solid;
    margin-right: 20px;
    padding-right: 60px;
  }

  .contact-form-item {
    padding: 80px 100px 90px;
  }

  .contact-links-grid {
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }

  .contact-link-infos {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .error-number {
    font-size: 400px;
  }

  .featured-blog-section {
    padding-top: 130px;
    padding-bottom: 100px;
  }

  .blog-section {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .blog-item {
    margin-bottom: 100px;
  }

  .blog-meta-wrap {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
  }

  .meta-separator {
    display: block;
  }

  .law-type-section {
    padding-top: 90px;
    padding-bottom: 40px;
  }

  .practice-area-banner,
  .cases-banner-title-area {
    padding-bottom: 140px;
  }

  .cases-single-section {
    padding-top: 140px;
    padding-bottom: 120px;
  }

  .cases-single-detail {
    padding: 40px 50px 60px;
  }

  .case-reward-content {
    padding-left: 60px;
    padding-right: 60px;
  }

  .reward-amount-title {
    font-size: 45px;
  }

  .cases-experience-section {
    padding: 60px 50px 75px;
  }

  .recover-section {
    padding: 55px 50px 70px;
  }

  .pricing-section {
    padding-bottom: 100px;
  }

  .footer-separator-right {
    padding-left: 20px;
    display: block;
  }

  .footer-separator-left {
    padding-right: 20px;
    display: block;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .header-contact-item.contact-info-item {
    margin-bottom: 0;
    padding-left: 20px;
  }

  .hero-content-area {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .reviewer-wrap {
    margin-top: 30px;
  }

  .reviewer-wrap.toggle-review-wrap {
    margin-bottom: 30px;
  }

  .contact-link-infos {
    justify-content: flex-start;
  }

  .featured-blog-section {
    padding-top: 130px;
  }

  .blog-law-type {
    font-size: 20px;
  }

  .footer-separator-right {
    padding-left: 20px;
  }

  .footer-separator-left {
    padding-right: 20px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 32px;
  }

  h5 {
    font-size: 28px;
  }

  h6 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  blockquote {
    padding-left: 80px;
    padding-right: 80px;
  }

  .header-navbar-wrap {
    flex-direction: row;
  }

  .header-logo-wrap {
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    width: 100%;
    min-width: 100%;
  }

  .button-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .style-guide-grid {
    display: block;
  }

  .button.header-button {
    margin-top: 20px;
    padding: 20px 50px;
  }

  .button-large.password-button {
    width: 100%;
  }

  .nav-link {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    display: inline-block;
    position: relative;
  }

  .nav-link.first-child {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    position: relative;
  }

  .nav-link.dropdown-navigation {
    width: 100%;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 15px;
    display: block;
  }

  .dropdown-toggle {
    margin-right: 50px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .dropdown-list.w--open {
    background-color: var(--dark-black);
    margin-left: 0;
    padding: 15px 20px 0 0;
    position: relative;
  }

  .dropdown-link {
    color: var(--white);
    width: 100%;
    font-size: 18px;
    display: block;
  }

  .header-nav-area {
    flex: 1;
    order: -1;
  }

  .header-contact-item {
    margin-bottom: 0;
  }

  .header-contact-title {
    display: none;
  }

  .header-contact-link {
    font-size: 20px;
  }

  .header-contact-item-wrap {
    flex-direction: column;
  }

  .typography-section {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .style-guide-title {
    padding-bottom: 20px;
  }

  .color-section {
    padding-top: 80px;
  }

  .color-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .color-box-item {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .paragraph-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .list-section {
    padding-top: 30px;
  }

  .blockquote-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer {
    padding-top: 80px;
    padding-bottom: 20px;
  }

  .footer-widget-wrap {
    margin-top: 40px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    display: block;
  }

  .footer-links-wrap {
    flex-direction: column;
  }

  .footer-contact-link-wrap {
    padding-top: 10px;
  }

  .copyright {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .copyright-grid {
    text-align: center;
    display: block;
  }

  .copyright-social-area {
    justify-content: center;
  }

  .copyright-content {
    margin-bottom: 10px;
  }

  .hero-main-wrap {
    padding-top: 20px;
  }

  .hero-grid {
    grid-template-columns: 1fr;
  }

  .hero-content-area {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero-area-title {
    font-size: 50px;
  }

  .simple-intro-section {
    padding-top: 100px;
  }

  .simple-intro-grid {
    display: block;
  }

  .section-left-title-text {
    font-size: 36px;
  }

  .section-left-content {
    font-size: 18px;
  }

  .intro-status-wrap {
    flex-direction: column;
  }

  .intro-percentage-item {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .intro-experience-wrap {
    margin-top: 10px;
    margin-left: 0;
  }

  .help-section {
    padding-top: 70px;
  }

  .section-title-text,
  .section-title-text.dark-color-title {
    font-size: 36px;
  }

  .section-title-content.dark-color-content {
    font-size: 18px;
  }

  .help-content-grid {
    display: block;
  }

  .client-section {
    padding-bottom: 60px;
  }

  .section-center-title-text.dark-color-title {
    font-size: 36px;
  }

  .client-image-grid {
    grid-template-columns: 1fr 1fr;
  }

  .client-image-item {
    margin-bottom: 40px;
  }

  .history-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .history-content-wrap {
    padding-bottom: 40px;
  }

  .history-grid {
    display: block;
  }

  .history-progress-wrap {
    margin-top: 60px;
  }

  .client-reviews-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .client-review-grid {
    display: block;
  }

  .review-content-wrap,
  .review-content-wrap.toggle-review-content-wrap {
    padding: 30px 25px;
  }

  .team-grid {
    grid-template-columns: 1fr;
  }

  .team-item {
    margin-bottom: 40px;
  }

  .consultation-grid {
    display: block;
  }

  .consultation-detail-area {
    margin-top: 40px;
  }

  .appointment-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .appointment-form-wrap {
    padding: 40px;
  }

  .appointment-input-form {
    flex-direction: column;
  }

  .input-wrap.half-width {
    width: 100%;
  }

  .banner-title-area {
    padding-bottom: 90px;
  }

  .banner-title-wrap {
    padding-top: 40px;
  }

  .about-intro-section {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .about-intro-grid {
    display: block;
  }

  .about-intro-content-wrap {
    margin-top: 40px;
  }

  .our-story-intro {
    font-size: 26px;
  }

  .our-story-grid {
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
  }

  .specialized-grid {
    grid-template-columns: 1fr;
  }

  .specialized-content-wrap {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .our-values-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .our-values-grid {
    grid-template-columns: 1fr;
  }

  .our-values-item {
    padding-top: 40px;
  }

  .our-values-title {
    font-size: 35px;
  }

  .banner-area-title {
    font-size: 55px;
  }

  .testimonial-section {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .testimonial-grid {
    grid-template-columns: 1fr;
  }

  .testimonial-top-wrap {
    flex-direction: row;
    align-items: flex-start;
  }

  .fee-content-wrap {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
  }

  .no-fee-title {
    font-size: 50px;
  }

  .faq-grid {
    grid-template-columns: 1fr;
  }

  .faq-item {
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .faq-title {
    font-size: 36px;
  }

  .changelog-section {
    padding-bottom: 100px;
  }

  .changelog-wrap {
    padding: 60px 40px 40px;
  }

  .changelog-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .changelog-content {
    padding-top: 20px;
    padding-left: 0;
  }

  .contact-form-section {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .contact-info-grid {
    display: block;
  }

  .contact-intro-link {
    font-size: 18px;
  }

  .contact-form-wrap {
    margin-top: 60px;
  }

  .contact-form-item {
    padding: 20px 40px 40px;
  }

  .contact-form-left-wrap {
    width: 100%;
    margin-right: 0;
  }

  .contact-form-right-wrap {
    width: 100%;
  }

  .contact-input-fields {
    flex-direction: column;
  }

  .contact-links-grid {
    display: block;
  }

  .contact-link-infos {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .contact-info-address {
    font-size: 20px;
  }

  .licenses-section {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .licenses-item-wrap {
    margin-bottom: 60px;
  }

  .licenses-grid {
    display: block;
  }

  .license-item-title {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .license-website-name {
    padding-right: 0;
  }

  .error-number {
    font-size: 220px;
  }

  .error-page-wrap {
    padding-top: 40px;
  }

  .password-grid {
    display: block;
  }

  .password-form-wrap {
    padding-top: 40px;
    padding-right: 60px;
  }

  .featured-blog-wrap.home-featured-blog {
    padding-top: 20px;
  }

  .blog-section {
    padding-top: 60px;
  }

  .blog-item {
    margin-bottom: 50px;
  }

  .blog-meta-wrap.blog-single-meta-wrap {
    padding-bottom: 20px;
  }

  .viewmore-link {
    font-size: 20px;
  }

  .featured-blog-grid {
    grid-column-gap: 10px;
    grid-template-columns: 1fr;
  }

  .blog-author-wrap {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .lawyer-section {
    padding-top: 60px;
  }

  .law-type-section {
    padding-top: 40px;
  }

  .practice-areas-section {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .practice-areas-title-grid {
    display: block;
  }

  .practice-area-wrap {
    margin-top: 40px;
  }

  .practice-area-item {
    min-height: 500px;
    margin-bottom: 10px;
  }

  .practice-area-title {
    font-size: 26px;
  }

  .practice-area-collection {
    padding-left: 5px;
    padding-right: 5px;
  }

  .practice-area-single-section {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  .cases-section {
    padding-top: 80px;
    padding-bottom: 70px;
  }

  .cases-item {
    margin-bottom: 20px;
  }

  .reward-amount-wrap {
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
  }

  .reward-amount {
    font-size: 18px;
  }

  .cases-content-area {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cases-link-wrap {
    font-size: 30px;
    line-height: 1.4;
  }

  .case-link {
    padding-top: 10px;
  }

  .cases-collection {
    padding-left: 5px;
    padding-right: 5px;
  }

  .cases-banner-title-area {
    padding-bottom: 80px;
  }

  .cases-single-grid {
    display: block;
  }

  .pricing-section {
    padding-bottom: 40px;
  }

  .pricing-content-wrap {
    margin-top: 20px;
  }

  .pricing-grid {
    display: block;
  }

  .pricing-item {
    margin-bottom: 60px;
  }

  .pricing-best-offer {
    position: relative;
  }

  .blog-law-type {
    font-size: 18px;
  }

  .menu-button {
    float: left;
    background-color: var(--primary-color);
  }

  .menu-button.w--open {
    float: left;
    background-color: var(--dark-black);
  }

  .nav-menu {
    background-color: var(--dark-black);
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    display: block;
  }

  .footer-website-link {
    font-size: 20px;
  }

  .mobile-menu-icon {
    color: var(--white);
  }

  .hireus-badge {
    display: none;
  }
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 26px;
  }

  h6 {
    font-size: 22px;
  }

  p,
  li {
    font-size: 18px;
  }

  blockquote {
    padding: 40px;
    font-size: 28px;
  }

  .header {
    padding-top: 20px;
  }

  .style-guide-grid {
    display: block;
  }

  .button {
    padding: 20px 50px;
    font-size: 20px;
  }

  .button.header-button {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
  }

  .button-large {
    padding: 20px 50px;
    font-size: 20px;
  }

  .button-large.password-button {
    width: 100%;
  }

  .button-large.pricing-button {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
  }

  .button-transparent,
  .button-large-transparent {
    padding: 20px 50px;
    font-size: 20px;
  }

  .button-white {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
  }

  .button-large-white {
    padding: 20px 50px;
    font-size: 20px;
  }

  .header-contact-wrap {
    display: none;
  }

  .header-contact-item {
    margin-bottom: 0;
    padding-left: 10px;
  }

  .header-contact-item.contact-info-item {
    margin-bottom: 10px;
    padding-left: 0;
  }

  .header-link-wrap {
    display: none;
  }

  .header-contact-title {
    font-size: 16px;
    display: none;
  }

  .header-contact-link {
    font-size: 18px;
  }

  .header-contact-item-wrap {
    flex-direction: column;
  }

  .color-section {
    padding-bottom: 30px;
  }

  .footer-widget-title-wrap {
    margin-bottom: 10px;
  }

  .hero-content-area {
    /* padding-top: 40px; */
    padding-top: 0px;
    padding-bottom: 40px;
  }

  .hero-image-area {
    padding-top: 40px;
  }

  .hero-area-content {
    font-size: 18px;
  }

  .hero-area-title {
    font-size: 40px;
  }

  .section-title-left {
    margin-bottom: 20px;
  }

  .section-left-title-text {
    font-size: 32px;
  }

  .section-left-content {
    padding-top: 20px;
  }

  .intro-author-name {
    font-size: 30px;
  }

  .intro-percentage-item,
  .intro-experience-wrap {
    padding: 20px;
  }

  .section-title-text,
  .section-title-text.dark-color-title {
    font-size: 32px;
  }

  .center-title-wrap {
    flex-direction: column;
    align-items: center;
  }

  .section-center-title-text.dark-color-title {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 32px;
  }

  .client-image-grid {
    grid-template-columns: 1fr;
  }

  .team-section {
    padding-bottom: 40px;
  }

  .consultation-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .consultation-detail-area {
    padding: 20px;
  }

  .consultation-content-area {
    padding: 10px 20px 40px;
  }

  .consultation-call-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .cosultation-call-link-wrap {
    margin-left: 0;
    padding-top: 10px;
  }

  .appointment-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .input-field {
    font-size: 18px;
  }

  .input-field::placeholder {
    font-size: 18px;
  }

  .banner-title-area {
    padding-bottom: 70px;
  }

  .banner-title-wrap {
    padding-top: 20px;
  }

  .our-story-intro {
    font-size: 22px;
  }

  .our-story-grid {
    grid-template-columns: 1fr;
  }

  .our-values-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .our-values-content-wrap {
    margin-top: 10px;
  }

  .our-values-item {
    padding: 20px;
  }

  .our-values-title {
    font-size: 30px;
  }

  .banner-area-title {
    font-size: 50px;
  }

  .testimonial-section {
    padding-top: 80px;
    padding-bottom: 20px;
  }

  .testimonial-top-wrap {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .testimonial-client-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .testimonial-client-name-wrap {
    margin-left: 0;
    padding-top: 10px;
  }

  .client-name {
    font-size: 26px;
  }

  .quote-icon-wrap {
    display: none;
  }

  .fee-content-wrap {
    background-color: var(--primary-color);
    background-image: none;
    background-repeat: repeat;
    background-size: auto;
    padding: 30px;
  }

  .no-fee-title {
    font-size: 36px;
  }

  .changelog-section {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .changelog-wrap {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .contact-info-address {
    font-size: 18px;
  }

  .licenses-section {
    padding-top: 60px;
  }

  .license-image-link {
    font-size: 20px;
  }

  .error-number {
    font-size: 100px;
  }

  .error-page-title {
    font-size: 40px;
  }

  .error-page-wrap {
    padding-bottom: 20px;
  }

  .password-field-label {
    font-size: 18px;
  }

  .password-form-wrap {
    padding: 20px;
  }

  .password-heading {
    font-size: 45px;
  }

  .password-field {
    height: 70px;
    margin-top: 20px;
    padding-left: 20px;
  }

  .published-date {
    font-size: 20px;
  }

  .blog-title-link {
    font-size: 28px;
  }

  .blog-single-section {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .blog-image-detail-wrap {
    margin-left: 0;
    padding-top: 10px;
  }

  .blog-author-detail-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .lawyer-section {
    padding-top: 40px;
  }

  .lawyer-title-area {
    flex-direction: column;
  }

  .author-name {
    margin-top: 0;
    margin-left: 0;
  }

  .law-type-heading {
    flex-direction: column;
  }

  .law-type-name {
    margin-top: 0;
    margin-left: 0;
  }

  .law-type-content-wrap {
    padding-top: 40px;
  }

  .practice-areas-section {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .practice-area-item {
    min-height: auto;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .practice-icon-wrap {
    width: 53px;
  }

  .practice-area-banner {
    padding-bottom: 80px;
  }

  .cases-section {
    padding-bottom: 40px;
  }

  .case-link {
    font-size: 18px;
  }

  .cases-single-section {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .cases-single-detail {
    padding-left: 30px;
    padding-right: 30px;
  }

  .case-detail-section-title {
    font-size: 36px;
  }

  .case-detail-title {
    font-size: 26px;
  }

  .case-reward-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .reward-amount-title {
    font-size: 34px;
  }

  .cases-experience-section {
    padding-left: 30px;
    padding-right: 30px;
  }

  .cases-experience-title {
    font-size: 34px;
  }

  .legal-experience {
    font-size: 20px;
  }

  .recover-section {
    padding-left: 30px;
    padding-right: 30px;
  }

  .recover-heading {
    font-size: 34px;
  }

  .recover-subtitle {
    font-size: 20px;
  }

  .pricing-content-wrap {
    margin-top: 0;
  }

  .pricing-title,
  .pricing-price {
    font-size: 40px;
  }

  .nav-menu {
    min-width: 300px;
  }

  .hireus-content {
    margin-bottom: 7px;
    line-height: 1.3;
  }

  .hireus-orange-button,
  .get-a-quote-button-wrap {
    font-size: 12px;
  }

  .hireus-badge-wrap {
    padding: 10px 12px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 20px;
  }

  ul,
  ol {
    padding-left: 20px;
  }

  blockquote {
    padding: 20px;
    font-size: 24px;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .button {
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
  }

  .button.header-button {
    font-size: 18px;
  }

  .button-large {
    padding: 20px 30px;
    font-size: 18px;
  }

  .button-large.pricing-button {
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .button-transparent,
  .button-large-transparent {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
  }

  .button-white {
    margin-right: 10px;
    padding: 20px 30px;
    font-size: 18px;
  }

  .button-large-white {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
  }

  .nav-link.dropdown-navigation {
    padding-right: 18px;
  }

  .header-contact-item-wrap {
    display: none;
  }

  .color-section {
    padding-bottom: 10px;
  }

  .footer-contact-link-wrap {
    padding-top: 0;
  }

  .copyright-content {
    font-size: 18px;
  }

  .hero-area-content {
    line-height: 1.6;
  }

  .hero-area-title {
    font-size: 34px;
  }

  .simple-intro-section {
    padding-top: 70px;
  }

  .section-left-title-text {
    font-size: 30px;
  }

  .intro-lawyer-area {
    flex-direction: column;
    align-items: flex-start;
  }

  .intro-author-name {
    padding-left: 0;
  }

  .intro-percentage-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .percentage-content {
    margin-left: 0;
    padding-top: 10px;
  }

  .intro-experience-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .experience-content {
    margin-left: 0;
    padding-top: 10px;
  }

  .section-title-text.dark-color-title {
    font-size: 30px;
  }

  .help-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .help-count-content {
    margin-left: 0;
  }

  .help-background-item {
    padding: 20px;
  }

  .help-count-number {
    font-size: 26px;
  }

  .client-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .center-title-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-center-title-text.dark-color-title {
    text-align: center;
  }

  .history-content-wrap {
    padding: 40px 20px 20px;
  }

  .progresss-item {
    margin-bottom: 20px;
  }

  .progress-content-wrap {
    flex-direction: column;
  }

  .client-reviews-section {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .reviewer-name {
    font-size: 25px;
  }

  .team-section {
    padding-top: 60px;
  }

  .consultation-content-area {
    border-style: none;
    padding: 0 0 10px;
  }

  .consultation-heading {
    font-size: 28px;
  }

  .consultation-phone-number {
    font-size: 26px;
  }

  .appointment-form-wrap {
    padding: 30px 20px 20px;
  }

  .input-field {
    font-size: 17px;
  }

  .input-field::placeholder {
    font-size: 17px;
  }

  .banner-area-title {
    font-size: 36px;
  }

  .testimonial-section {
    padding-bottom: 20px;
  }

  .testimonial-item {
    padding: 20px;
  }

  .fee-content-wrap {
    padding-right: 20px;
  }

  .no-fee-title {
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 1;
  }

  .no-fee-content {
    font-size: 17px;
  }

  .changelog-wrap {
    padding: 20px 10px 10px 20px;
  }

  .contact-info-title {
    font-size: 26px;
  }

  .contact-form-item {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact-link-infos {
    padding-right: 20px;
  }

  .contact-info-address {
    line-height: 1.4;
  }

  .license-image-link {
    font-size: 18px;
  }

  .error-page-title {
    font-size: 35px;
  }

  .error-page-wrap {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .password-wrap {
    padding-top: 60px;
  }

  .password-section {
    padding-bottom: 50px;
  }

  .password-heading {
    font-size: 35px;
  }

  .blog-title-link {
    font-size: 24px;
  }

  .blog-excerpt {
    margin-bottom: 10px;
  }

  .featured-blog-title {
    font-size: 28px;
  }

  .practice-area-item {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .practice-listing-content-wrap {
    margin-bottom: 25px;
    padding-bottom: 10px;
  }

  .cases-section {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .cases-link-wrap {
    font-size: 26px;
  }

  .case-reward-content {
    border-style: none;
    padding: 0;
  }

  .reward-amount-title {
    font-size: 28px;
  }

  .blog-law-type {
    font-size: 20px;
  }

  .nav-menu {
    min-width: 260px;
  }

  .footer-website-link {
    font-size: 18px;
  }
}
