---
import SmallSeparatorGold from "../../graphics/small-separator-gold.astro"
import PracticeAreaItem from "./practice-area-item.astro"; 
import PracticeAreas from "@/data/practice-areas";
import PlusIcon from "@/assets/icons/practice-areas/plus_icon.png"; 
const currentPathInAbout = Astro.url.pathname;

---
<div 
class="our-values-section"
id = "our-value-section"
>
    <div class="max-w-[100%] px-[30px] min-[480px]:px-[40px] min-[1280px]:max-w-[100%] min-[1280px]:px-[40px] min-[1440px]:max-w-[1440px] min-[1440px]:px-[20px] min-[1920px]:px-0 container mx-auto  before:content-[' '] after:content-[' '] before:grid-area-[1/1/2/2] after:grid-area-[1/1/2/2] before:table after:table after:clear-both w-container">
    <div class="our-values-wrap">
        <div class="w-layout-grid our-values-grid">
            <div class="our-values-title-wrap">
                <div 
                    class="our-values-title-content"
                    id="our-values-title-content"
                    >
                    <div class="mb-[20px] min-[768]: mb-[30px] childrenFadeInFromBottomTag">
                        <h2 class="capitalize mb-[12px] text-[30px] leading-[1.3] min-[480px]:text-[32px] min-[768px]:text-[36px] min-[992px]:text-[42px] fadeOutIntoBottom">From Business Deals to Dispute Resolution <br/></h2>
                        <SmallSeparatorGold 
                            customStyle = "w-[95px] h-[44px] fadeOutIntoBottom !delay-[500ms]"
                        />
                        <p class="pt-[20px] text-[18px] min-[992]:pt-[40px] min-[992]:text-[20px] fadeOutIntoBottom !delay-[1000ms]">Whether you're navigating a complex business transaction, facing a legal challenge, or planning for the future, I'm here to guide you through the process. My experience covers a wide range of legal areas. <br/></p>
                    </div>
                </div>
            </div>
            <div class="our-values-content-wrap">
                {PracticeAreas && PracticeAreas.length > 0 && 
                    PracticeAreas.map(area =><PracticeAreaItem {...area} />)
                }
            <a href = "/practice-areas">
                <div class={`our-values-item hover:bg-slate-600 cursor-pointer`}>
                    <div class="values-icon-wrap">
                        <img 
                            src={PlusIcon.src}
                            loading="lazy" 
                            alt="Values Icon"
                            class = "w-[40px] h-[40px]"
                        />
                    </div>
                    <div class="our-values-content-area">
                        <h3 class="our-values-title">And more...</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    </div>
</div>
{currentPathInAbout.toLowerCase().replace(/\//g,"") === "about" &&
<script is:inline>
    document.addEventListener("astro:page-load", () => {
        const OverValueSection = document.getElementById("our-value-section"); 
        const OverValueContent = document.getElementById("our-values-title-content"); 
        const ShiftContentDown = () =>{
            try{
                let TopHeight = OverValueSection?.getBoundingClientRect().top; 
                if(window.innerWidth > 991 && TopHeight < 45){
                    OverValueContent.style.top = "160px"; 
                }
            }catch(e){
                console.log("ShiftContentDown Error: ", e)
            }
        }
        window.addEventListener("scroll", ShiftContentDown)
    })
</script>
}