---
import { BusinessInfo } from "@/data/business-info";
import { formatPhone } from "@/hooks/number"; 
---
<div class="contact-info-item header-contact-item flex items-center mb-[15px] pl-[10px] min-[1280px]:justify-start min-[1280px]:pl-[50px]">
    <div class=" header-link-wrap border-[2px] border-primaryC rounded-[100px] justify-center items-center w-[62px] h-[62px] md:flex">
        <img src="/assets/icons/header-call-icon.svg" loading="lazy" alt="Phone Icon"/>
    </div>
    <div class="header-contact-link-wrap pl-[12px]">
        <p class="header-contact-title text-primaryC mb-[0] text-[18px] font-[500] md:text-[18px]">Call Us On:</p>
        <a href={`tel:${BusinessInfo.phone}`} class="">{formatPhone(BusinessInfo.phone)}</a>
    </div>
</div>