---
import BannerTitleSeparator from "../graphics/banner-title-separator.astro"
---
<div class="our-story-section">
    <div class="max-w-[100%] px-[30px] min-[480px]:px-[40px] min-[1280px]:max-w-[100%] min-[1280px]:px-[40px] min-[1440px]:max-w-[1440px] min-[1440px]:px-[20px] min-[1920px]:px-0 container mx-auto before:content-[' '] after:content-[' '] before:grid-area-[1/1/2/2] after:grid-area-[1/1/2/2] before:table after:table after:clear-both w-container">
    <div class="section-title childrenFadeInFromBottomTag">
        <h2 class="section-title-text fadeOutIntoBottom">From Business Deals to Dispute Resolution </h2>
        <BannerTitleSeparator 
            customStyle = "w-[95px] h-[44px] mx-auto fadeOutIntoBottom !delay-500"
        />
    </div>
    <h3 class="our-story-intro fadeInFromBottomTag fadeOutIntoBottom">Whether you're navigating a complex business transaction, facing a legal challenge, or planning for the future, I'm here to guide you through the process. My experience covers a wide range of legal areas, including: </h3>
    <div class="w-layout-grid our-story-grid">
        <div class="our-story-image-wrap"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e81_story-image-1.jpg" loading="lazy" alt="Our Story Image"/></div>
        <div class="our-story-image-wrap"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e82_story-image-2.jpg" loading="lazy" alt="Our Story Image"/></div>
        <div class="our-story-image-wrap"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e80_story-image-3.jpg" loading="lazy" alt="Our Story Image"/></div>
    </div>
    </div>
</div>