---
import SmallSeparatorBlack from "../graphics/small-separator-black.astro"
---
<div class="specialized-section">
    <div class="specialized-wrap">
        <div class="w-layout-grid specialized-grid">
            <div
                class = "overflow-hidden h-[250px] sm:h-[350px] min-[991px]:h-full"
            >
                <picture
                    class = ""
                >
                    <source 
                        media="(min-width:400px)"
                        srcset = "/assets/images/handshake-800.webp"
                    />
                    <source 
                        media="(min-width:800px)"
                        srcset = "/assets/images/handshake.webp"
                    />
                    <img 
                    src="/assets/images/handshake-400.webp" 
                    loading="lazy" 
                    decoding = "async"
                    class = "object-cover h-[523px] w-[992px] translate-y-[-100px] sm:translate-y-[0px] lg:h-full"
                    alt="Specialized Image"
                    />
                </picture>
            </div>
            <div class="specialized-content-wrap">
                <div class="progress-title-wrap mt-10">
                    <div class="mb-[20px] min-[768]: mb-[30px] childrenFadeInFromBottomTag">
                    <h2 class="capitalize mb-[12px] text-[30px] leading-[1.3] min-[480px]:text-[32px] min-[768px]:text-[36px] min-[992px]:text-[42px] dark-color-title fadeOutIntoBottom">Building Strong Relationships </h2>
                    <SmallSeparatorBlack
                        customStyle = "w-[95px] h-[44px] fadeOutIntoBottom !delay-[250ms]"
                    />
                    <p class="pt-[20px] text-[18px] min-[992]:pt-[40px] min-[992]:text-[20px] dark-color-content fadeOutIntoBottom !delay-[500ms]">I understand that legal matters can be stressful and confusing. That's why I take the time to build strong relationships with my clients, listening carefully to their needs and concerns. I'll explain your options in clear, concise language, and work collaboratively with you to develop a legal strategy that meets your unique goals.♥<br/><br/></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>