---
const {
    text
} = Astro.props; 
---
<div class="image-section">
    <img 
    src="/assets/images/divider-image.webp" 
    loading="lazy" 
    decoding="async"
    sizes="100vw" 
    srcset="/assets/images/divider-image-500.webp 500w, /assets/images/divider-image-800.webp 800w, /assets/images/divider-image-1080.webp  1080w, /assets/images/divider-image.webp 1920w" 
    alt="Divider Image" 
    class="background-image"/>
    {text && 
    <h4
        class = "text-center text-white text-2xl md:text-3xl m-auto"
    >{text}</h4>
    }
</div>
