---
import PracticeAreaData from "@/data/practice-areas.js"; 
import Panel from "./panel.astro"; 
---
<div class="practice-area-wrap">
    <div class="w-dyn-list">
        <div role="list" class="flex flex-row flex-wrap justify-center">
            {PracticeAreaData && PracticeAreaData.length > 0 && 
                PracticeAreaData.map(area =>{ 
                if(area.hasPage){
                    return <Panel {...area} />
                }
                return null
            })
            }
        </div>
    </div>
</div>