---
import PracticeAreaData from "@/data/practice-areas.js"; 
import Panel from "./panel.astro"; 
---
<div class="bg-[#161d27] pt-10">
    <div class="w-dyn-list">
        <div role="list" class="flex flex-col sm:flex-row sm:flex-wrap md:gap-x-5 justify-center mx-auto w-10/12 xl:w-full">
            {PracticeAreaData && PracticeAreaData.length > 0 && 
                PracticeAreaData.map(area =>{ 
                    return <Panel {...area} />
                return null
            })
            }
        </div>
    </div>
</div>