---
import PracticeAreaData from "@/data/practice-areas.js"; 
import Panel from "./panel.astro"; 
---
<div class="practice-areas-section">
    <div class="container w-container">
    <div class="w-layout-grid practice-areas-title-grid">
        <div class="section-title-left">
            <h2 class="section-left-title-text">My Practice Areas</h2>
            <img src="/assets/icons/small-separator-gold.svg" loading="lazy" alt="Title Separator"/>
        </div>
        <div id="w-node-_51ff0ba3-4e2d-3300-5219-e31f454d2f30-9a1b9e10" class="practice-title-content">
            <p class="section-left-content">We are a group of civil litigation/trial attorneys who focus on providing a justice based on the issues relating to insurance defense, insurance coverage, bad faith, insurance fraud and criminal litigation.</p>
        </div>
    </div>
    <div class="practice-area-wrap">
        <div class="w-dyn-list">
            <div role="list" class="flex flex-row flex-wrap justify-center">
                {PracticeAreaData && PracticeAreaData.length > 0 && 
                    PracticeAreaData.map(area => <Panel {...area} />)
                }
            </div>
        </div>
    </div>
    </div>
</div>