---
import SmallSeparatorGold from "../graphics/small-separator-gold.astro"
---
<div class="our-values-section">
    <div class="container w-container">
    <div class="our-values-wrap">
        <div class="w-layout-grid our-values-grid">
            <div class="our-values-title-wrap">
                <div class="our-values-title-content">
                <div class="section-title-left childrenFadeInFromBottomTag">
                    <h2 class="section-left-title-text fadeOutIntoBottom">From Business Deals to Dispute Resolution <br/></h2>
                    <SmallSeparatorGold 
                        customStyle = "w-[95px] h-[44px] fadeOutIntoBottom !delay-[500ms]"
                    />
                    <p class="section-left-content fadeOutIntoBottom !delay-[1000ms]">Whether you're navigating a complex business transaction, facing a legal challenge, or planning for the future, I'm here to guide you through the process. My experience covers a wide range of legal areas, including: <br/></p>
                </div>
                </div>
            </div>
            <div class="our-values-content-wrap">
                <div class="our-values-item">
                <div class="values-icon-wrap">
                    <img src="/assets/images/values-icon-scales.svg" loading="lazy" alt="Values Icon"/>
                </div>
                <div class="our-values-content-area">
                    <h3 class="our-values-title">Direct Way Of Justice</h3>
                    <p>Our Banking and Finance team has very broad experience structuring and negotiating complex financing deals, including in many cross-border transactions.</p>
                </div>
                </div>
                <div class="our-values-item">
                <div class="values-icon-wrap"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e8a_values-icon-2.svg" loading="lazy" alt="Values Icon"/></div>
                <div class="our-values-content-area">
                    <h3 class="our-values-title">Protecting Your Business</h3>
                    <p>We are on the panel of many international and local banks, and also represent borrowers which include listed companies, large government-linked conglomerates private high net worth.</p>
                </div>
                </div>
                <div class="our-values-item">
                <div class="values-icon-wrap"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e8b_values-icon-3.svg" loading="lazy" alt="Values Icon"/></div>
                <div class="our-values-content-area">
                    <h3 class="our-values-title">Relationship Based On Trust</h3>
                    <p>We punch far above our weight when it comes to Singapore’s equity capital markets, handling everything from IPOs to secondary fundraisings and listed company advisory work.</p>
                </div>
                </div>
                <div class="our-values-item">
                <div class="values-icon-wrap"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e8c_values-icon-4.svg" loading="lazy" alt="Values Icon"/></div>
                <div class="our-values-content-area">
                    <h3 class="our-values-title">Fight For Justice</h3>
                    <p>The strong relationships we build with every listed client enables us to effectively support their future requirements. We are also active on international debt listings on the Singapore Exchange.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>