---
const { 
    WrapperStyle, 
} = Astro.props; 
---
<div class={`header-button-wrap ${WrapperStyle}`}>
    <a 
    href="https://calendly.com/eliasjacobmordecai/30min"  
    class="button header-button w-button"
    target="_blank"
    >Book A Consultation</a>
</div>