---
const { 
    WrapperStyle, 
} = Astro.props; 
---
<div class={`header-button-wrap ${WrapperStyle}`}>
    <a 
    href="https://calendly.com/eliasjacobmordecai/30min"  
    class="text-white bg-[rgba(255,255,255,0.1)] border-[rgba(255,255,255,0.1)] mt-[20px] py-[20px] px-[30px] text-[20px] min-[992]:py-[20px] min-[992]:px-[50px] mr-0 transition-all border-[1px] border-solid text-center font-secondaryF font-500 leading-inherit cursor-pointer no-underline block"
    target="_blank"
    >Book A Consultation</a>
</div>