---
import { BusinessInfo } from "@/data/business-info";
import { formatPhone } from "@/hooks/number";
const {
    wrapperStyle, 
    } = Astro.props; 
---
<div class={`wrapperStyle`}>
    <div class="header-contact-item-wrap1 grid md:flex md:flex-row justify-between items-[flex-start] min-[1280px]:flex-row min-[1280px]:justify-between min-[1280px]:items-center min-[1280px]:flex">
        <div class="header-contact-item1 flex items-center mb-[15px] pl-[10px] min-[1280px]:justify-start min-[1280px]:pl-[50px] gap-x-1">
            <div class="header-link-wrap border-[2px] border-primaryC rounded-[100px] justify-center items-center w-[45px] h-[45px] md:w-[62px] md:h-[62px] md:flex">
                <img 
                src="/assets/icons/header-call-icon.svg" 
                loading="lazy" 
                alt="Header Contact Icon"
                class = "w-[17px] h-[17px]"
                />
            </div>
            <div class="header-contact-link-wrap1 pl-0 md:pl-[12px] md:mt-auto md:mx-auto my-auto">
                <!-- <p class="header-contact-title1 hidden sm:block text-primaryC mb-[0] text-[18px] font-[500] md:text-[18px] whitespace-nowrap">Call Us:</p> -->
                <a href={`tel:${BusinessInfo.phone}`} class="header-contact-link1 text-[#ffffff] text-[16px] sm:text-[22px] leading-[1.2] no-underline transition-[color] hover:text-primaryC md:text-[22px] whitespace-nowrap">{formatPhone(BusinessInfo.phone)}</a>
            </div>
        </div>
        <div class="header-contact-item1 flex items-center mb-[15px] pl-[10px] min-[1280px]:justify-start min-[1280px]:pl-[50px] gap-x-1">
            <div class="header-link-wrap border-[2px] border-primaryC rounded-[100px] justify-center items-center w-[45px] h-[45px] md:w-[62px] md:h-[62px]  md:flex">
                <img 
                src="/assets/icons/header-mail-icon.svg" 
                loading="lazy" 
                alt="Header Contact Icon"
                class = "w-[17px] h-[17px]"
                />
            </div>
            <div class="header-contact-link-wrap1 pl-0 md:pl-[12px] mx-auto">
                <!-- <p class="header-contact-title1 hidden sm:block text-primaryC mb-[0] text-[18px] font-[500] md:text-[18px]">Email Us:</p> -->
                <a href={`mailto:${BusinessInfo.email}`} class="header-contact-link1 text-[#ffffff] text-[16px] sm:text-[22px] leading-[1.2] no-underline transition-[color] hover:text-primaryC md:text-[22px] whitespace-normal">{BusinessInfo.email}</a>
            </div>
        </div>
    </div>
</div>