---;
import ConsultationBtn from "./consultation-btn.astro";
import LogoComponent from "@/components/logoComponent.astro"
import MenuLinks from "./menu-links.astro"
import MobileIcon from "./mobile-icon.astro"; 
import ContactInfoItems from "./contact-info-items.astro";
---
<div 
    class="header"
    id="static_nav"
>
    <div class="container w-container">
        <div class="header-logo-wrap">
            <LogoComponent 
                immediateLoading = {true}
            />
            <ContactInfoItems wrapperStyle = "my-auto [&>div]:my-auto"/>
        </div>
        <div class="header-navbar-wrap">
            <MobileIcon 
                customMargin = "mx-auto md:ml-0 md:mr-auto"
                ID = "staticMobileIcon" 
                />
            <MenuLinks 
                ContactButton ={false} 
            />
            <ConsultationBtn />
        </div>
    </div>
</div>
