---
---
<nav class="bg-white absolute hidden group-hover:block !z-[9999] min-h-[250px]" id ="practice_area_dropdown">
<a 
    href="/practice-areas/criminal-defense-law"
    class={`whitespace-nowrap my-auto dropdown-link w-dropdown-link !z-[9999]`}>Criminal Defense</a>
<a 
href= "/practice-areas/transaction-law"
class={`whitespace-nowrap my-auto dropdown-link w-dropdown-link !z-[9999]`}>Transaction Law</a>
<a 
    href="/practice-areas/employment-law"
    class={`whitespace-nowrap my-auto dropdown-link w-dropdown-link !z-[9999]`}>Employment Law</a>
<a 
    href="/practice-areas/personal-injury-law"
    class={`whitespace-nowrap my-auto dropdown-link w-dropdown-link !z-[9999]`}>Personal Injury Law</a>
<a 
    href= "/practice-areas/tenant-law"
    class={`whitespace-nowrap my-auto dropdown-link w-dropdown-link !z-[9999]`}>Landlord Tenant Law</a>
</nav>