---
export const prerender = true;
import BaseLayout from "@/layout/BaseLayout.astro"
import NavBar from "@/components/navigation/index.astro"; 
import BannerTitleSeparator from "@/components/graphics/banner-title-separator.astro";
---
<BaseLayout
    pageTitle = "404 Error: Page not found"
    customDescription = "The page you are looking for does not exist."  
>
    <NavBar />
     <div class="error-section">
        <div class="container w-container">
            <div class="error-page-wrap">
                <div class="error-page-content">
                    <h1 class="error-number">404</h1>
                    <BannerTitleSeparator customStyle = "mx-auto" />
                    <h2 class="error-page-title">Page Not Found</h2>
                    <div
                        class = "text-white text-lg"
                    >The page you are looking for doesn&#x27;t exist or has been moved.</div>
                    <div class="error-button-wrap">
                        <a href="/" class="button w-button">Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</BaseLayout>