---
export const prerender = true;
import BaseLayout from "@/layout/BaseLayout.astro"
import EliHeadshot from "@/components/eli-headshot.astro";
import SmallSeparatorGold from "@/components/graphics/small-separator-gold.astro";
import PracticeAreaSection from "@/components/about-page/practice-area-section/index.astro"; 
import SpecializedSection from "@/components/about-page/specialized-section.astro";
import CTASection from "@/components/call-to-action/version2.astro"; 
import BannerTitleSection from "@/components/banner-title-section.astro";
---
<BaseLayout
   pageTitle = "About Eli Mordecai"
   customDescription = "I'm Eli Mordecai, a general practice attorney in Venice, CA. But I'm more than just someone who knows the law. I'm a firm believer in achieving the best outcome for every client."
>
      <BannerTitleSection title = "About Me" />
      <div class="about-intro-section">
         <div class="max-w-[100%] px-[30px] min-[480px]:px-[40px] min-[1280px]:max-w-[100%] min-[1280px]:px-[40px] min-[1440px]:max-w-[1440px] min-[1440px]:px-[20px] min-[1920px]:px-0 container mx-auto  before:content-[' '] after:content-[' '] before:grid-area-[1/1/2/2] after:grid-area-[1/1/2/2] before:table after:table after:clear-both w-container">
            <div class="about-intro-wrap">
               <div class="w-layout-grid about-intro-grid">
                  <div class="about-intro-image-wrap">
                     <EliHeadshot
                        wrapperStyle = "mx-auto bg-transparent w-[270px] h-[270px] sm:w-[450px] sm:h-[450px]"
                        animationTag = "fadeInFromBottomTag fadeOutIntoBottom"
                        immediateLoading = {true}
                     />
                  </div>
                  <div class="about-intro-content-wrap">
                     <div class="mb-[20px] min-[768]: mb-[30px] childrenFadeInFromBottomTag">
                        <h2 class="capitalize mb-[12px] text-[30px] leading-[1.3] min-[480px]:text-[32px] min-[768px]:text-[36px] min-[992px]:text-[42px] fadeOutIntoBottom text-5xl lg:text-6xl">I’m Eli Mordecai</h2>
                        <h2 class="capitalize mb-[12px] text-[30px] leading-[1.3] min-[480px]:text-[32px] min-[768px]:text-[36px] min-[992px]:text-[42px] fadeOutIntoBottom !delay-[250ms]">A <span class = "text-primaryC">General Practice Attorney</span> in Venice, CA</h2>
                        <SmallSeparatorGold 
                            customStyle = "w-[95px] h-[44px] fadeOutIntoBottom !delay-[500ms]"
                        />
                        <p class="pt-[20px] text-[18px] min-[992]:pt-[40px] min-[992]:text-[20px] fadeOutIntoBottom !delay-[750ms]">But I'm more than just someone who knows the law.<br /></p>
                        <p class="pt-[20px] text-[18px] min-[992]:pt-[40px] min-[992]:text-[20px] fadeOutIntoBottom !delay-[1000ms]">I'm a passionate advocate, a creative problem-solver, and a firm believer in achieving the best outcome for every client.<br /></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <PracticeAreaSection />
      <SpecializedSection />
      <CTASection 
         title ="Do you think you have a case?",
         leftContent = "I'm ready to offer my expertise to get you the best results. Send me a message and I'll get in touch with you shortly, or you can call me between 9:00 am and 8:00 pm Monday to Saturday."
      />
</BaseLayout>