---
import BaseLayout from "@/layout/HomeLayout.astro"; 
import NavBar from "@/components/navigation/index.astro"; 
import Eli from "@/components/eli-headshot.astro"; 
import PracticeAreaLayout from "@/components/practice-area-preview-section/layout.astro"
import PracticeAreaSection from "@/components/practice-area-preview-section/index.astro"; 
import CTASection from "@/components/call-to-action/version2.astro"; 
import TrustSection from "@/components/trust-section/index.astro";
import BlogSection from "@/components/blogComponent/blogSection.astro";
---
<BaseLayout
   pageTitle = "Eli Mordecai - Home Page"
   customDescription = "Your trusted general practice attorney in Los Angeles, CA."
>
      <div class="bg-[#1f2732] relative lg:min-h-[605px] before:absolute before:inset-0 before:bg-[50%] before:bg-no-repeat before:bg-[length:1270px_860px] before:bg-[url('/assets/images/hero-background-desk.webp')] before:">
         <div class="hero-overlay"></div>
         <NavBar />
         <div class="hero-main-wrap">
            <div class="container w-container">
               <div class="flex flex-col md:flex-row gap justify-center items-center">
                  <div class="hero-content-area">
                     <img 
                        src="/assets/icons/small-separator-gold.svg" 
                        loading="eager" 
                        alt="Small Separator"
                        class = "hidden sm:block fadeInTag fadeOut w-[95px] h-[44px]"
                        />
                     <div
                        class = "childrenFadeInFromBottomTag"
                     >
                        <h1 class="hero-area-title font-light fadeOutIntoBottom text-center sm:text-left sm:!delay-[750ms]">Transforming Legal Hurdles into Success Stories</h1>
                        <p class="hero-area-content fadeOutIntoBottom text-center sm:text-left !delay-500 sm:!delay-[1000ms]">Your Trusted General Practice Attorney</p>
                        <a 
                           href="/contact-us" 
                           class="button w-button mx-auto sm:ml-0 sm:mr-auto block sm:inline-block !text-center text-left hover:bg-transparent hover:text-primaryC fadeOutIntoBottom transition-all duration-1000 w-fit !delay-[750ms] sm:!delay-[1250ms]"
                           >Get In Touch</a>
                     </div>
                  </div>
                  <div class="hero-image-area m-auto lg:ml-auto lg:mr-0 fadeInTag fadeOut">
                     <Eli
                        wrapperStyle = "bg-transparent w-[270px] h-[270px] sm:w-[450px] sm:h-[450px] m-auto"
                     />
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="simple-intro-section">
         <div class="container w-container">
            <div class="flex flex-col lg:flex-row gap-5">
               <div class="simple-intro-image-wrap  fadeInFromBottomTag fadeOutIntoBottom md:min-w-[467px] w-full ">
                  <img 
                     src="/assets/images/statue-library.webp" 
                     loading="lazy" 
                     decoding="async"
                     alt="Simple Intro Image" 
                     class="simple-intro-image w-[320px] h-[189px] min-[400px]:w-[400px] min-[400px]:h-[215px] sm:w-[467px] sm:h-[294px] object-fill mx-auto lg:ml-0"
                  />
               </div>
               <div class="simple-intro-content-wrap">
                  <div class="section-title-left  fadeInFromBottomTag fadeOutIntoBottom">
                     <h2 class="section-left-title-text">Are you seeking reliable legal advice and representation? <span class = "text-primaryC">Look no further.</span></h2>
                     <img 
                     src="/assets/icons/small-separator-gold.svg" 
                     loading="lazy" 
                     alt="Title Separator"
                     class = "w-[95px] h-[44px]"
                     />
                     <p class="section-left-content"> As your trusted <b class = "text-primaryC">general practice attorney</b> in Los Angeles, CA, I am here to help you navigate through a wide range of legal matters, ensuring your rights and interests are protected every step of the way. You’re in good hands. </p>
                  </div>
                  <div class="intro-lawyer-area fadeInFromBottomTag fadeOutIntoBottom ">
                     <div class="intro-lawyer-wrap">
                        <img 
                        src="/assets/images/authors/eli-mordecai-small.webp" 
                        loading="lazy" 
                        decoding="async"
                        alt="Eli Mordecai" 
                        class="lawyer-radius-image w-[90px] h-[90px]"
                        />
                     </div>
                     <h3 class="intro-author-name">Eli Mordecai</h3>
                  </div>
                  <!-- <InfoStatus /> -->
               </div>
            </div>
         </div>
      </div>
      <PracticeAreaLayout>
         <PracticeAreaSection />
      </PracticeAreaLayout>
      <TrustSection />
      <!-- <ClientSection /> -->
      <!-- <HistorySection /> -->
      <!-- <ClientReviewSection /> -->
      <!-- <TeamSection /> -->
      <CTASection 
         title = "Your best legal representation is just a phone call away."
      />
      <div class="divider-section">
         <div class="container w-container">
         <div class="divider-line"></div>
         </div>
      </div>
      <BlogSection />
</BaseLayout>