---
import BaseLayout from "@/layout/HomeLayout.astro"; 
import NavBar from "@/components/navigation/index.astro"; 
import Eli from "@/components/eli-headshot.astro"; 
import PracticeAreaLayout from "@/components/practice-area-preview-section/layout.astro"
import PracticeAreaSection from "@/components/practice-area-preview-section/index.astro"; 
import CTASection from "@/components/call-to-action/version2.astro"; 
import TrustSection from "@/components/trust-section/index.astro";
//import BlogSection from "@/components/blogComponent/blogSection.astro";
---
<BaseLayout
   pageTitle = "Eli Mordecai - General Practice Attorney"
   customDescription = "Your trusted general practice attorney in Los Angeles, CA."
>
      <div class="bg-secondaryC bg-[url('/assets/images/hero-background-desk.webp')] bg-[50%] bg-no-repeat bg-cover relative hero-section lg:min-h-[605px]">
         <div class="bg-[rgba(31,39,50,0.81)] absolute w-[screen] h-[screen] inset-[0%]"></div>
         <NavBar />
         <div class="relative max-w-[991px]:pt-[20px] hero-main-wrap bg-cover pb-[20px] aspect-[2/3] min-[470px]:aspect-[11/13] md:aspect-auto">
            <div class="max-w-[100%] px-[30px] min-[480px]:px-[40px] min-[1280px]:max-w-[100%] min-[1280px]:px-[40px] min-[1440px]:max-w-[1440px] min-[1440px]:px-[20px] min-[1920px]:px-0 container mx-auto  before:content-[' '] after:content-[' '] before:grid-area-[1/1/2/2] after:grid-area-[1/1/2/2] before:table after:table after:clear-both w-container">
               <div class="flex flex-col md:flex-row gap justify-between items-center">
                  <div class="hero-content-area max-w-[950px] pt-[60px] pb-[90px] max-[767px]:pt-[0px] max-[767px]:pb-[40px] max-[991px]:pt-[40px] max-[991px]:pb-[40px] min-[1280px]:pt-[40px] min-[1440px]:pt-[40px] min-[1440px]:pb-[60px]">
                     <img 
                        src="/assets/icons/small-separator-gold.svg" 
                        loading="eager" 
                        alt="Small Separator"
                        class = "hidden sm:block fadeInTag fadeOut w-[95px] h-[44px]"
                        />
                     <div
                        class = "childrenFadeInFromBottomTag"
                     >
                        <h1 class="hero-area-title1  mt-[15px] text-[50px] leading-[1.2] max-[991px]:text-[50px] max-[767px]:text-[40px] max-[479px]:text-[34px] font-primaryF fadeOutIntoBottom text-center sm:text-left sm:!delay-[750ms] min-h-[2em]">Transforming Legal Hurdles into Success Stories</h1>
                        <p class="hero-area-content1 text-primaryC mt-[15px] mb-[25px] text-[20px] leading-[1.8] max-[767px]:text-[18px] max-[479px]:leading-[1.6] fadeOutIntoBottom text-center sm:text-left !delay-500 sm:!delay-[1000ms]">Your Trusted General Practice Attorney</p>
                        <a 
                           href="/contact" 
                           role="button"
                           aria-label="Go to Contact Page"
                           class="button! w-button1 border-[1px] border-solid border-primaryC bg-primaryC text-secondaryC font-secondaryF font-500 px-[30px] text-[18px] min-[480]:text-[20px] mx-auto sm:ml-0 sm:mr-auto block sm:inline-block !text-center leading-inherit py-[9px] px-[15px] hover:bg-transparent hover:text-primaryC fadeOutIntoBottom transition-all duration-1000 w-fit !delay-[750ms] sm:!delay-[1250ms]"
                           >Get In Touch</a>
                     </div>
                  </div>
                  <div class="hero-image-area1 pt-[40px] m-auto lg:ml-auto lg:mr-0 fadeInTag fadeOut">
                     <Eli
                        wrapperStyle = "bg-transparent w-[270px] h-[270px] sm:w-[450px] sm:h-[450px] m-auto"
                        imgStyle = "w-[270px] h-[270px] sm:w-[400px] sm:h-[400px] object-fit mx-auto lg:ml-auto lg:mr-0 aspect-square rounded-full"
                        immediateLoading = {true}
                     />
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="simple-intro-section! pt-[120px] pb-[90px]">
         <div class="max-w-[100%] px-[30px] min-[480px]:px-[40px] min-[1280px]:max-w-[100%] min-[1280px]:px-[40px] min-[1440px]:max-w-[1440px] min-[1440px]:px-[20px] min-[1920px]:px-0 container mx-auto  before:content-[' '] after:content-[' '] before:grid-area-[1/1/2/2] after:grid-area-[1/1/2/2] before:table after:table after:clear-both w-container">
            <div class="flex flex-col lg:flex-row gap-5">
               <div class="fadeInFromBottomTag fadeOutIntoBottom md:min-w-[467px] w-full ">
                  <img 
                     src="/assets/images/statue-library.webp" 
                     loading="lazy" 
                     decoding="async"
                     alt="Simple Intro Image" 
                     class="simple-intro-image1 mb-[30px] w-[320px] h-[189px] min-[400px]:w-[400px] min-[400px]:h-[215px] sm:w-[467px] sm:h-[294px] object-fill mx-auto lg:ml-0"
                  />
               </div>
               <div class="">
                  <div class="mb-[20px] min-[768]: mb-[30px]  fadeInFromBottomTag fadeOutIntoBottom">
                     <h2 class="capitalize mb-[12px] text-[30px] leading-[1.3] min-[480px]:text-[32px] min-[768px]:text-[36px] min-[992px]:text-[42px]">Are you seeking reliable legal advice and representation? <span class = "text-primaryC">Look no further.</span></h2>
                     <img 
                     src="/assets/icons/small-separator-gold.svg" 
                     loading="lazy" 
                     alt="Title Separator"
                     class = "w-[95px] h-[44px]"
                     />
                     <p class="pt-[20px] text-[18px] min-[992]:pt-[40px] min-[992]:text-[20px]"> As your trusted <b class = "text-primaryC capitalize">general practice attorney</b> in Los Angeles, CA, I am here to help you navigate through a wide range of legal matters, ensuring your rights and interests are protected every step of the way. You’re in good hands. </p>
                  </div>
                  <div class="intro-lawyer-area justify-start items-center mt-[35px] flex flex-row max-[479px]:flex-col max-[479px]:items-start fadeInFromBottomTag fadeOutIntoBottom ">
                     <div class="intro-lawyer-wrap">
                        <img 
                        src="/assets/images/authors/Headshot-90.webp" 
                        loading="lazy" 
                        decoding="async"
                        alt="Eli Mordecai" 
                        class="lawyer-radius-image"
                        width = "90"
                        height = "90"
                        />
                     </div>
                     <h3 class="intro-author-name">Eli Mordecai</h3>
                  </div>
                  <!-- <InfoStatus /> -->
               </div>
            </div>
         </div>
      </div>
      <PracticeAreaLayout>
         <PracticeAreaSection />
      </PracticeAreaLayout>
      <TrustSection />
      <CTASection 
         title = "Your best legal representation is just a phone call away."
      />
      <div class="divider-section">
         <div class="max-w-[100%] px-[30px] min-[480px]:px-[40px] min-[1280px]:max-w-[100%] min-[1280px]:px-[40px] min-[1440px]:max-w-[1440px] min-[1440px]:px-[20px] min-[1920px]:px-0 container mx-auto  before:content-[' '] after:content-[' '] before:grid-area-[1/1/2/2] after:grid-area-[1/1/2/2] before:table after:table after:clear-both w-container">
         <div class="divider-line"></div>
         </div>
      </div>
      <!-- <BlogSection /> -->
</BaseLayout>