---
import ContactInfoComponent from "@/components/contact-info-component.astro"
import Logo216 from "@/assets/logo/Eli_Mordecai-Logo-216.webp";
---
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8"/>
      <title>Website is under maintenance</title>
      <meta content="width=device-width, initial-scale=1" name="viewport"/>
      <link 
      href="/style/inner-pages.css" 
      rel="stylesheet" 
      type="text/css"
      media="print"
      onload="this.media='all'; this.onload=null;"
      />
      <noscript>
         <link rel="stylesheet" href="/style/inner-pages.css">
      </noscript>
      <link href="/assets/icons/favicon.webp" rel="shortcut icon" type="image/x-icon"/>
      <!-- <link rel="preload" href="../fonts/CormorantGaramond-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
      <link rel="preload" href="../fonts/Outfit-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous"> -->
      <link rel="preload" href="../fonts/CormorantGaramond-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
      <link rel="preload" href="../fonts/Outfit-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
      <link rel="sitemap" href="/sitemap-index.xml" />
   </head>
   <body>
<div
    class = "w-full h-screen bg-secondaryC text-white py-10 font-primaryF"
>
    <div 
        class = "w-10/12 sm:w-6/12 lg:w-5/12 mx-auto [&>p]:my-5 [&>p]:text-center"
    >
        <div class={`header-logo`}>
            <img 
            src={Logo216.src} 
            loading="eager" 
            class = "w-[218px] aspect-[3/1] mx-auto"
            alt="General Practice Attorney Logo"/>
        </div>
        <h1
            class = "text-white text-2xl text-center font-bold my-10"
        >The website is currently under maintenance.</h1>
        <p
            class = "text-lg"
        >You can expect to hear back from us in the near future.</p>
        <p
            class = "text-lg"
        >If you have any business inquiries for Mordecai Law, you can contact us with the following information:</p>
        <ContactInfoComponent 
            customDiv = "mx-auto w-fit"
        />
    </div>
</div>
</body>
</html>