---
import BannerTitleSeparator from "./graphics/banner-title-separator.astro"
---
<div class="client-reviews-section">
    <div class="max-w-[100%] px-[30px] min-[480px]:px-[40px] min-[1280px]:max-w-[100%] min-[1280px]:px-[40px] min-[1440px]:max-w-[1440px] min-[1440px]:px-[20px] min-[1920px]:px-0 container mx-auto before:content-[' '] after:content-[' '] before:grid-area-[1/1/2/2] after:grid-area-[1/1/2/2] before:table after:table after:clear-both w-container">
    <div class="client-review-wrap">
        <div class="section-title">
            <h2 class="section-title-text">Client Opinions &amp; Reviews</h2>
            <BannerTitleSeparator customStyle = "mx-auto" />
        </div>
        <div class="client-review-area">
            <div class="w-layout-grid client-review-grid">
                <div class="client-review-item">
                <div class="review-content-wrap">
                    <img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e5f_testimonial-quote.svg" loading="lazy" alt="Testimonial Quote"/>
                    <p class="review-content">Could you please thank Paul personally for me, the stars are for his forehead. The perfect way of handling the case based on the situation.</p>
                </div>
                <div class="reviewer-wrap">
                    <div class="reviewer-image-wrap"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e63_testimonial-client-2.jpg" loading="lazy" alt="Review Image" class="reviewer-image"/></div>
                    <div class="reviewer-detail">
                        <h3 class="reviewer-name">Natasha</h3>
                        <p class="reviewer-job">Private Employee</p>
                    </div>
                </div>
                </div>
                <div class="client-review-item">
                <div class="reviewer-wrap toggle-review-wrap">
                    <div class="reviewer-image-wrap"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e60_testimonial-client-1.jpg" loading="lazy" alt="Review Image" class="reviewer-image"/></div>
                    <div class="reviewer-detail">
                        <h3 class="reviewer-name">Hannah Butler</h3>
                        <p class="reviewer-job">Business Sector</p>
                    </div>
                </div>
                <div class="review-content-wrap toggle-review-content-wrap">
                    <img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e5f_testimonial-quote.svg" loading="lazy" alt="Testimonial Quote"/>
                    <p class="review-content">Attorney law firm really helped me with all my family law and custody issues at the right time. Words are not enough to thank the firm.</p>
                </div>
                </div>
                <div class="client-review-item">
                <div class="review-content-wrap">
                    <img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e5f_testimonial-quote.svg" loading="lazy" alt="Testimonial Quote"/>
                    <p class="review-content">Thank you for the way in which your team handling the matter on a perfect way. They give me a big relief in this case with more confident.</p>
                </div>
                <div class="reviewer-wrap">
                    <div class="reviewer-image-wrap"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e64_testimonial-client-6.jpg" loading="lazy" alt="Review Image" class="reviewer-image"/></div>
                    <div class="reviewer-detail">
                        <h3 class="reviewer-name">Phillip Arnold</h3>
                        <p class="reviewer-job">Bus Driver</p>
                    </div>
                </div>
                </div>
                <div class="client-review-item">
                <div class="reviewer-wrap toggle-review-wrap">
                    <div class="reviewer-image-wrap"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e62_testimonial-client-4.jpg" loading="lazy" alt="Review Image" class="reviewer-image"/></div>
                    <div class="reviewer-detail">
                        <h3 class="reviewer-name">Joshua Warren</h3>
                        <p class="reviewer-job">Private Engineer</p>
                    </div>
                </div>
                <div class="review-content-wrap toggle-review-content-wrap">
                    <img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e5f_testimonial-quote.svg" loading="lazy" alt="Testimonial Quote"/>
                    <p class="review-content">I frequently check the Best Lawyers list to select an attorney in areas too familiar with at the end they came and lead to achive the justice.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>