---
const {
    wrapperStyle, 
    imgStyle, 
    immediateLoading = true, 
    animationTag, 
} = Astro.props; 
---
{
immediateLoading ?
<div
    class ={`${wrapperStyle ? wrapperStyle : "bg-transparent w-fit h-fit"} ${animationTag}`}
>
    <img 
        alt="Eli Mordecai"
        src ="/assets/images/authors/Headshot-400.webp"
        loading = "eager"
        decoding = "async"
        class = {`${imgStyle ? imgStyle : "sm:w-[400px] sm:h-[400px] object-fit mx-auto rounded-full"}`}
    />

</div>
:
<div
    class ={`${wrapperStyle ? wrapperStyle : "bg-transparent w-fit h-fit"} ${animationTag}`}
>
    <img 
        alt="Eli Mordecai"
        src ="/assets/images/authors/Headshot-400.webp"
        loading = "lazy"
        decoding = "async"
        class = {`${imgStyle ? imgStyle : "w-[270px] h-[270px] sm:w-[400px] sm:h-[400px] object-fit mx-auto rounded-full"}`}
    />

</div>
}