---
const {
    wrapperStyle, 
    imgStyle, 
} = Astro.props; 
---
<div
    class ={`${wrapperStyle ? wrapperStyle : "bg-transparent"}`}
>
    <img 
        alt="Eli Mordecai"
        src ="/assets/images/authors/eli_mordecai.webp"
        class = {`${imgStyle ? imgStyle : "w-full h-full object-fit"}`}
    />
</div>