---
import BannerTitleSeparator from "./graphics/banner-title-separator.astro";
import uuid from "react-uuid"; 
const { 
    FAQ
} = Astro.props; 
import type {faqArray} from "@/util/interface.js"
---
<div class="faq-section">
    <div class="max-w-[100%] px-[30px] min-[480px]:px-[40px] min-[1280px]:max-w-[100%] min-[1280px]:px-[40px] min-[1440px]:max-w-[1440px] min-[1440px]:px-[20px] min-[1920px]:px-0 container mx-auto before:content-[' '] after:content-[' '] before:grid-area-[1/1/2/2] after:grid-area-[1/1/2/2] before:table after:table after:clear-both w-container">
    <div class="faq-content-wrap">
        <div class="section-title">
            <h2 class="section-title-text dark-color-title">Frequently Asked Questions</h2>
            <BannerTitleSeparator customStyle = "mx-auto" />
        </div>
        <div class="faq-content-area">
            <div class="w-layout-grid faq-grid">
                {FAQ && FAQ.length > 0 && 
                    FAQ.map((faq : faqArray, index : number) => 
                        <div 
                            class="faq-item"
                            >
                            <h3 class="faq-title">{faq.title}</h3>
                            <p class="faq-content">{faq.content}</p>
                        </div>
                    )
                }
            </div>
        </div>
    </div>
    </div>
</div>