---
---
<div class="history-section">
    <div class="container w-container">
    <div class="history-content-wrap">
        <div class="w-layout-grid history-grid">
            <div id="w-node-_6376ab03-e4a8-81e1-076d-451eb2bdaa9e-9a1b9e10" class="history-year-wrap">
                <div class="section-title-left">
                <h2 class="section-left-title-text">We Are Top Lawyers<br/>And History</h2>
                <img src="/assets/icons/small-separator-gold.svg" loading="lazy" alt="Title Separator"/>
                </div>
                <div class="history-year-content-wrap">
                <div class="history-year-item">
                    <h3 class="history-year">2000 – Establishment of the Company!</h3>
                    <p>The origins of lawyers and the first founders of law make their appearance in Ancient Greece and Rome.</p>
                </div>
                <div class="history-year-item">
                    <h3 class="history-year">2006 – Together we Build</h3>
                    <p>Lawyers in medieval times found themselves struggling to make a living as the legal profession collapsed in the western world.</p>
                </div>
                <div class="history-year-item">
                    <h3 class="history-year">2008 – Completed 10000 cases</h3>
                    <p>When did lawyers first start practicing in the United States? It’s important to understand that the history of attorneys.</p>
                </div>
                <div class="history-year-item">
                    <h3 class="history-year">2011 – We are Number One</h3>
                    <p>Eventually, the prejudices against lawyers started to fall away and the legal profession began to gain respect and power.</p>
                </div>
                </div>
            </div>
            <div id="w-node-_5411e121-6651-b226-4cba-1099e5a1237c-9a1b9e10" class="history-image-wrap"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e5e_history-center-image.jpg" loading="lazy" alt="Progress Image" class="history-image"/></div>
            <div id="w-node-e528fb73-4d9d-9860-4c0a-e040b0516d82-9a1b9e10" class="history-progress-wrap">
                <div class="section-title-left">
                <h2 class="section-left-title-text">We Are Specialised<br/>And Experienced</h2>
                <img 
                    src="/assets/icons/small-separator-gold.svg" loading="lazy" alt="Title Separator"/>
                <p class="section-left-content">Keep yourself up-to-date on your area of law. Be aware of new developments, as laws and rules often change based on the situation and new cases are being decided every day.<br/></p>
                </div>
                <div class="progress-bar-wrap">
                <div class="progresss-item">
                    <div class="progress-content-wrap">
                        <p class="progress-title">Divorce And Family Cases</p>
                        <p class="progress-value">75%</p>
                    </div>
                    <div class="progress-main-wrap">
                        <div style="width:0%;height:5px" class="progress-bar"></div>
                    </div>
                </div>
                <div class="progresss-item">
                    <div class="progress-content-wrap">
                        <p class="progress-title">Property And Construction</p>
                        <p class="progress-value">80%</p>
                    </div>
                    <div class="progress-main-wrap">
                        <div class="progress-bar eighty-percentage"></div>
                    </div>
                </div>
                <div class="progresss-item">
                    <div class="progress-content-wrap">
                        <p class="progress-title">Banking And Finance</p>
                        <p class="progress-value">75%</p>
                    </div>
                    <div class="progress-main-wrap">
                        <div style="width:0%;height:5px" class="progress-bar"></div>
                    </div>
                </div>
                <div class="progresss-item">
                    <div class="progress-content-wrap">
                        <p class="progress-title">Accident &amp; Wrongful Death</p>
                        <p class="progress-value">90%</p>
                    </div>
                    <div class="progress-main-wrap">
                        <div class="progress-bar ninety-percentage"></div>
                    </div>
                </div>
                </div>
                <div class="progress-button-wrap"><a href="/contact-us" class="button w-button">Free Consulting</a></div>
            </div>
        </div>
    </div>
    </div>
</div>