---
---
<div class="intro-status-wrap">
    <div class="intro-percentage-item">
    <img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e4f_simple-intro-icon.svg" loading="lazy" alt="Cases Icon"/>
    <p class="percentage-content">95% <br/>Case Success</p>
    </div>
    <div class="intro-experience-wrap">
    <div class="intro-year-wrap">
        <h3 class="experience-title">35+</h3>
    </div>
    <p class="experience-content">Years<br/>Experience</p>
    </div>
</div>