---
import Logo from "@/assets/logo/Eli_Mordecai-Logo-216.webp";
import LogoMobile from "@/assets/logo/Eli_Mordecai-Logo-150.webp"
const { 
 customDiv,
 } = Astro.props; 
---

<div class={`${customDiv ? customDiv : "header-logo"}`}>
    <a 
        href="/" 
        aria-current="page" 
        class="inline-block max-w-full w--current">
        <img 
            src={Logo.src} 
            loading="lazy" 
            class = "w-[218px] aspect-[3/1]"
            alt="General Practice Attorney Logo"
        />
    </a>
</div>

