---
import Logo from "@/assets/logo/Eli_Mordecai-Logo.webp";
const { 
 customDiv,
 } = Astro.props; 
---

<div class={`${customDiv ? customDiv : "header-logo"}`}>
    <a 
        href="/" 
        aria-current="page" 
        class="w-inline-block w--current">
        <img 
            src={Logo.src} 
            loading="lazy" 
            class = "w-[225px] aspect-[5/2] min-[500px]:w-[300px]"
            alt="Attorney Brand Logo"
        />
    </a>
</div>

