---
import Logo from "@/assets/logo/Eli_Mordecai-Logo.webp";
import Logo216 from "@/assets/logo/Eli_Mordecai-Logo-216.webp";
const { 
 customDiv,
 } = Astro.props; 
---
<div class={`${customDiv ? customDiv : "justify-center flex"}`}>
    <a 
        href="/" 
        aria-current="page" 
        class="w-inline-block max-w-full inline-block">
        <img 
        src={Logo216.src} 
        loading="eager" 
        class = "w-[218px] aspect-[3/1]"
        alt="General Practice Attorney Logo"/>
    </a>
</div>
