---
import Logo from "@/assets/logo/Eli_Mordecai-Logo.webp";
const { customDiv, customImg } = Astro.props; 
---
<div class={`${customDiv ? customDiv : "header-logo w-[225px] min-[500px]:w-[300px]"}`}>
    <a 
        href="/" 
        aria-current="page" 
        class={`${customImg ? customImg : "w-inline-block w--current"}`}>
        <img 
        src={Logo.src} 
        loading="lazy" 
        alt="Attorney Brand Logo"/>
    </a>
</div>