---
import BannerTitleSeparator from "./graphics/banner-title-separator.astro"
---
<div class="team-section">
    <div class="max-w-[100%] px-[30px] min-[480px]:px-[40px] min-[1280px]:max-w-[100%] min-[1280px]:px-[40px] min-[1440px]:max-w-[1440px] min-[1440px]:px-[20px] min-[1920px]:px-0 container mx-auto before:content-[' '] after:content-[' '] before:grid-area-[1/1/2/2] after:grid-area-[1/1/2/2] before:table after:table after:clear-both w-container">
    <div class="section-title">
        <h2 class="section-title-text dark-color-title">Our Experienced Attorney Are Ready<br/> To answer any questions</h2>
        <BannerTitleSeparator customStyle = "mx-auto" />
    </div>
    <div class="team-wrap">
        <div class="w-layout-grid team-grid">
            <div class="team-item">
                <div class="team-image-social-wrap">
                <div class="team-image-wrap"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e77_team-image-1.jpg" loading="lazy" alt="Team Member Image"/></div>
                <div class="team-social-wrap">
                    <div class="team-social-links"><a href="https://www.facebook.com/" target="_blank" class="team-social-link w-inline-block"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e74_social-icon-facebook.svg" loading="lazy" alt="Team Social Icon"/></a><a href="https://twitter.com/" target="_blank" class="team-social-link w-inline-block"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e97_social-icon-twitter.svg" loading="lazy" alt="Team Social Icon"/></a><a href="https://www.instagram.com/" target="_blank" class="team-social-link w-inline-block"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e78_social-icon-instagram.svg" loading="lazy" alt="Team Social Icon"/></a><a href="https://www.pinterest.com/" target="_blank" class="team-social-link w-inline-block"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e75_social-icon-pinterest.svg" loading="lazy" alt="Team Social Icon"/></a></div>
                    <div class="team-divider-line"></div>
                </div>
                </div>
                <div class="team-member-detail-wrap">
                <h3 class="team-member-name">John Turner</h3>
                <p class="team-member-job">Civil Attorney</p>
                </div>
            </div>
            <div class="team-item">
                <div class="team-image-social-wrap">
                <div class="team-image-wrap"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e79_team-image-2.jpg" loading="lazy" alt="Team Member Image"/></div>
                <div class="team-social-wrap">
                    <div class="team-social-links"><a href="https://www.facebook.com/" target="_blank" class="team-social-link w-inline-block"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e74_social-icon-facebook.svg" loading="lazy" alt="Team Social Icon"/></a><a href="https://twitter.com/" target="_blank" class="team-social-link w-inline-block"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e97_social-icon-twitter.svg" loading="lazy" alt="Team Social Icon"/></a><a href="https://www.instagram.com/" target="_blank" class="team-social-link w-inline-block"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e78_social-icon-instagram.svg" loading="lazy" alt="Team Social Icon"/></a><a href="https://www.pinterest.com/" target="_blank" class="team-social-link w-inline-block"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e75_social-icon-pinterest.svg" loading="lazy" alt="Team Social Icon"/></a></div>
                    <div class="team-divider-line"></div>
                </div>
                </div>
                <div class="team-member-detail-wrap">
                <h3 class="team-member-name">Martha Black</h3>
                <p class="team-member-job">Associate Attorney</p>
                </div>
            </div>
            <div class="team-item">
                <div class="team-image-social-wrap">
                <div class="team-image-wrap"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e7a_team-image-3.jpg" loading="lazy" alt="Team Member Image"/></div>
                <div class="team-social-wrap">
                    <div class="team-social-links"><a href="https://www.facebook.com/" target="_blank" class="team-social-link w-inline-block"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e74_social-icon-facebook.svg" loading="lazy" alt="Team Social Icon"/></a><a href="https://twitter.com/" target="_blank" class="team-social-link w-inline-block"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e97_social-icon-twitter.svg" loading="lazy" alt="Team Social Icon"/></a><a href="https://www.instagram.com/" target="_blank" class="team-social-link w-inline-block"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e78_social-icon-instagram.svg" loading="lazy" alt="Team Social Icon"/></a><a href="https://www.pinterest.com/" target="_blank" class="team-social-link w-inline-block"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e75_social-icon-pinterest.svg" loading="lazy" alt="Team Social Icon"/></a></div>
                    <div class="team-divider-line"></div>
                </div>
                </div>
                <div class="team-member-detail-wrap">
                <h3 class="team-member-name">Brian Gomez</h3>
                <p class="team-member-job">Titular Attorney</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>