---
import ContactUsColumn  from "./contact-us.astro"; 
import QuickLinkColumn from "./quick-link.astro"; 
import PracticeAreaColumn from "./practice-area.astro"
import LogoComponent from "../logoComponent-lazy.astro";
import { BusinessInfo } from "@/data/business-info";
var YEAR = new Date().getFullYear(); 
---
<div class="footer">
   <div class="max-w-[100%] px-[30px] min-[480px]:px-[40px] min-[1280px]:max-w-[100%] min-[1280px]:px-[40px] min-[1440px]:max-w-[1440px] min-[1440px]:px-[20px] min-[1920px]:px-0 container mx-auto before:content-[' '] after:content-[' '] before:grid-area-[1/1/2/2] after:grid-area-[1/1/2/2] before:table after:table after:clear-both w-container">
      <div class="footer-top-logo">
         <div class="footer-top-logo-wrap">
            <LogoComponent 
               customDiv = "header-logo mx-auto"
            />
         </div>
      </div>
      <div class="footer-widget-wrap">
         <div class="w-layout-grid footer-grid">
            <QuickLinkColumn />
            <PracticeAreaColumn />
            <ContactUsColumn />
         </div>
      </div>
      <div class="copyright">
         <div class="w-layout-grid copyright-grid">
            <div id="w-node-b65b1a3d-ddb9-afd1-e2c9-f7bc0a364088-0a36402f" class="copyright-left-section">
               <span id = "WebsiteName">{BusinessInfo.companyName}</span>
               <p class="copyright-content">Copyright © <span id = "CopyRight">{YEAR}</span> | Website developed by <a href = "https://www.LADesignInitiative.com" target = "_blank" rel="nofollow">LA Design Initiative</a></p>
            </div>
            <div id="w-node-b65b1a3d-ddb9-afd1-e2c9-f7bc0a364090-0a36402f" class="copyright-right-section">
               <!-- <div class="copyright-social-area">
                  <p class="copyright-social-title">Follow :</p>
               <div class="copyright-social-wrap"> -->
               <!-- <a href="http://www.facebook.com" target="_blank" class="social-icon-link w-inline-block"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e46_social-icon-facebook.svg" loading="lazy" alt="Copyright Social"/></a><a href="https://www.twitter.com" target="_blank" class="social-icon-link w-inline-block"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e98_social-icon-twitter.svg" loading="lazy" alt="Copyright Social"/></a><a href="https://www.instagram.com" target="_blank" class="social-icon-link w-inline-block"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e49_social-icon-instagram.svg" loading="lazy" alt="Copyright Social"/></a><a href="https://www.pinterest.com" target="_blank" class="social-icon-link w-inline-block"><img src="https://assets-global.website-files.com/663690af6ff2152d9a1b9618/663690b06ff2152d9a1b9e48_social-icon-pinterest.svg" loading="lazy" alt="Copyright Social"/></a> -->
            </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>