---
---

<div class="footer-widget">
   <div class="footer-widget-title-wrap">
      <h3 class="footer-widget-title">Practice Area</h3>
   </div>
   <div class="footer-links-area">
      <a href="/practice-areas/criminal-defense-law" class="footer-link">Criminal Defense Law</a>
      <a href="/practice-areas/transaction-law" class="footer-link">Transaction Law</a>
      <a href="/practice-areas/employment-law" class="footer-link">Employment Law</a>
      <a href="/practice-areas/personal-injury-law" class="footer-link">Personal Injury Law</a>
      <a href="/practice-areas/tenant-law" class="footer-link">Tenant Landlord Law</a>
</div>