---
import ImageDivider from "@/components/image-dividers/courthouse-corner.astro"; 
import EliHeadshot from "../eli-headshot.astro";
const {
title,
leftContent ="We're always available for new cases big or small. Send us an email and we'll get in touch shortly, or phone between 8:00 am and 7:00 pm Monday to Saturday."
} = Astro.props;
---
<div class="consultation-section lg:pt-0">
   <div class="container w-container">
      <div class="consultation-wrap">
         <div class="w-layout-grid consultation-grid">
            <div class="consultation-intro-wrap">
               <div class="section-title-left">
                  {title ? 
                  <h2 class="section-left-title-text">{title}</h2>
                  :
                  <h2 class="section-left-title-text">Our professional Expert law team is always ready to serve you </h2>
                  }
                  <img src="/assets/icons/small-separator-gold.svg" loading="lazy" alt="Call For Consultation"/>
                  <p 
                  class="section-left-content" 
                  >{leftContent}<br/></p>
               </div>
               <div class="consultation-button-wrap">
                  <a 
                  href="/contact-us" 
                  class="button w-button "
                  >Get in touch!</a>
               </div>
            </div>
            <div
               class = "relative mx-auto lg:ml-0 sm:h-[500px] w-full my-10"
            >  
               <EliHeadshot
                  wrapperStyle = "sm:absolute bg-transparent z-[1] "
               />
               <div
                  class = "hidden sm:block absolute rounded-full overflow-hidden w-[300px] h-[300px] 
                  sm:w-[460px] sm:h-[460px] translate-x-[140px] lg:translate-x-[100px] translate-y-[100px]"
               >
                  <img 
                     src = "/assets/images/court-house.webp"
                     alt = "court house"
                     class = "object-cover m-auto w-full h-full"
                     loading = "lazy"
                     decoding="async"
                  />
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<ImageDivider
/>
