---
import SearchBar from "./searchbar";
const {
} = Astro.props; 
---
<form
    id="SearchBar"
    class ="relative block py-[30px] px-[40px] rounded-lg mt-10 mb-10 border-2 border-primaryC h-fit border-solid mx-10"
>
    <SearchBar client:load />
</form>