---
import Footer from "@/components/footer/index.astro"
import MinimizedNav from "@/components/navigation/minimized-nav.astro";
import MobileMenu from "@/components/navigation/mobile-menu.astro";
import "@/components/interactive_animations/animation.css"; 
---
<body>
    <MinimizedNav />
    <MobileMenu /> 
    <slot />
    <Footer />
    <script 
        src="/script/nav-script.js" 
        type = "text/javascript" 
        defer
        is:inline></script>
    <script 
        src ="/script/animated_script.js"
        type="text/javascript"
        defer
        is:inline></script>
</body>
<script is:inline>
    document.addEventListener("astro:page-load", () => {
    window.location.href = "/undermaintenance"
    })
</script>