---
import SEO from "@/components/SEO.astro"; 
import "@/components/interactive_animations/animation.css"; 
import { ViewTransitions } from 'astro:transitions';
import BodyLayout from "./BodyLayout.astro";
const {
    pageTitle, 
    customDescription, 
} = Astro.props; 
const currentPathInAbout = Astro.url.pathname;
---
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8"/>
      <title>{pageTitle}</title>
      <SEO 
         title = {pageTitle}
         description = {customDescription}
      />
      <meta content="width=device-width, initial-scale=1" name="viewport"/>
      <link 
      href="/style/global.css" 
      rel="stylesheet" 
      type="text/css"
      media="print"
      onload="this.media='all'; this.onload=null;"
      />
      <noscript>
         <link rel="stylesheet" href="/style/global.css">
      </noscript>
      <link href="/assets/icons/favicon.webp" rel="shortcut icon" type="image/x-icon"/>
      <link rel="preload" href="../fonts/CormorantGaramond-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
      <link rel="preload" href="../fonts/Outfit-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
      {currentPathInAbout.toLowerCase().replace(/\//g,"") === "contact-us" &&
      <script 
        is:inline
        type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
       }
      {currentPathInAbout.toLowerCase().replace(/\//g,"") === "contact-us" &&
        <script type="text/javascript">
                document.addEventListener("astro:page-load", () => {
                (async function() {
                    // https://dashboard.emailjs.com/admin/account
                    emailjs.init({
                        publicKey: await import.meta.env.PUBLIC_EMAILJS_PUBLIC_KEY,
                    });
                })();
                })
        </script>
      }
      {currentPathInAbout.toLowerCase().replace(/\//g,"") === "contact-us" &&
        <script type="text/javascript">
            document.addEventListener("astro:page-load", () => {
            window.onload = function() {
                document.getElementById('contact-form').addEventListener('submit', function(event) {
                    event.preventDefault();
                    // these IDs from the previous steps
                    emailjs.sendForm('contact_service', 'contact_form', this)
                        .then(() => {
                            console.log('SUCCESS!');
                        }, (error) => {
                            console.log('FAILED...', error);
                        });
                });
            }
        })
        </script>
      }
      <ViewTransitions /> 
   </head>
   <BodyLayout>
      <slot />
   </BodyLayout>
</html>