---
import SEO from "@/components/SEO.astro"; 
import "@/components/interactive_animations/animation.css"; 
import { ViewTransitions } from 'astro:transitions';
import BodyLayout from "./BodyLayout.astro";
const {
    pageTitle, 
    customDescription, 
} = Astro.props; 
---
<!DOCTYPE html>
<html lang="en">
   <head>
      <style>body{visibility: hidden; opacity: 0; transition: opacity 500ms;}</style>
      <meta charset="utf-8"/>
      <title>{pageTitle}</title>
      <SEO 
         title = {pageTitle}
         description = {customDescription}
      />
      <meta content="width=device-width, initial-scale=1" name="viewport"/>
      <link 
      href="/style/home.css" 
      rel="stylesheet" 
      type="text/css"
      media="print"
      onload="this.media='all'; this.onload=null;"
      />
      <link rel="preload" as="image" href="/assets/images/hero-background-desk.webp">
      <!-- <link rel="preload" href="../fonts/CormorantGaramond-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
      <link rel="preload" href="../fonts/Outfit-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous"> -->
      <link rel="preload" href="../fonts/CormorantGaramond-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
      <link rel="preload" href="../fonts/Outfit-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
      <link rel="sitemap" href="/sitemap-index.xml" />
      <noscript>
         <link rel="stylesheet" href="/style/home.css">
      </noscript>
      <link href="/assets/icons/favicon.webp" rel="shortcut icon" type="image/x-icon"/>
      <ViewTransitions /> 
   </head>
   <BodyLayout>
      <slot />
   </BodyLayout>
   <script 
      src ="/script/body_appearance.js"
      type="text/javascript"
      defer
      is:inline>
   </script>
</html>
