---
import Footer from "@/components/footer/index.astro"
import SEO from "@/components/SEO.astro"; 
import MinimizedNav from "@/components/navigation/minimized-nav.astro";
import MobileMenu from "@/components/navigation/mobile-menu.astro";
import "@/components/interactive_animations/animation.css"; 
import { ViewTransitions } from 'astro:transitions';
import BodyLayout from "./BodyLayout.astro";
const {
    pageTitle, 
    customDescription, 
} = Astro.props; 
---
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8"/>
      <title>{pageTitle}</title>
      <SEO 
         title = {pageTitle}
         description = {customDescription}
      />
      <meta content="width=device-width, initial-scale=1" name="viewport"/>
      <link 
      href="/style/home.css" 
      rel="stylesheet" 
      type="text/css"
      media="print"
      onload="this.media='all'; this.onload=null;"
      />
      <link rel="preload" as="image" href="/assets/images/hero-background-desk.webp">
      <noscript>
         <link rel="stylesheet" href="/style/home.css">
      </noscript>
      <link href="/assets/icons/favicon.webp" rel="shortcut icon" type="image/x-icon"/>
      <ViewTransitions /> 
   </head>
   <BodyLayout>
      <slot />
   </BodyLayout>
</html>